In [1]:
import pandas as pd
#import random
import numpy as np
import copy

In [2]:
film_catalog = pd.DataFrame(np.random.randn(4,4), columns=list('ABCD'))
film_catalog

          A         B         C         D
0 -0.731297  0.384039  1.194151  2.196651
1 -0.286734 -1.143605  0.969677 -0.222194
2 -0.363349 -0.543722 -0.241005 -1.598214
3  1.858003  0.522453  0.925371 -0.397877

In [3]:
film_catalog ["C"] = 3
film_catalog

          A         B  C         D
0 -0.731297  0.384039  3  2.196651
1 -0.286734 -1.143605  3 -0.222194
2 -0.363349 -0.543722  3 -1.598214
3  1.858003  0.522453  3 -0.397877

In [4]:
film_catalog.sum()

A     0.476624
B    -0.780834
C    12.000000
D    -0.021635
dtype: float64

In [5]:
first_cast_column = 1

In [6]:
df_actors = copy.deepcopy(film_catalog.iloc[:, first_cast_column:])
df_actors

          B  C         D
0  0.384039  3  2.196651
1 -1.143605  3 -0.222194
2 -0.543722  3 -1.598214
3  0.522453  3 -0.397877

In [7]:
df_actors_reordered = df_actors[df_actors.sum().sort_values(ascending = False).index]
df_actors_reordered

   C         D         B
0  3  2.196651  0.384039
1  3 -0.222194 -1.143605
2  3 -1.598214 -0.543722
3  3 -0.397877  0.522453

In [8]:
df_trunk = copy.deepcopy(film_catalog .iloc[:, :first_cast_column])
df_trunk

          A
0 -0.731297
1 -0.286734
2 -0.363349
3  1.858003

In [9]:
film_catalog_cast_columns_reordered = pd.concat( [df_trunk, df_actors_reordered], axis=1)
film_catalog_cast_columns_reordered

In [10]:
film_catalog_cast_columns_reordered

          A  C         D         B
0 -0.731297  3  2.196651  0.384039
1 -0.286734  3 -0.222194 -1.143605
2 -0.363349  3 -1.598214 -0.543722
3  1.858003  3 -0.397877  0.522453

In [ ]:
df = df.assign(m=df.mean(axis=0)).sort_values('m')
df

In [ ]:
vals = np.random.randint(16, 80, 25)
vals
vals.reshape(5,5)
vals= vals.reshape(5, 5)
vals

In [ ]:
cols = ['Q1_3', 'Q6_1', 'Q1_2', 'Q9_1', 'Q10_2']

In [ ]:
data = pd.DataFrame(vals, columns = cols)
#{'Column1': data[:, 0], 'Column2': data[:, 1]}

In [ ]:
data
#data = pd.DataFrame(vals, columns = cols)
# You get:

# data

#     Q1.3    Q6.1    Q1.2    Q9.1    Q10.2
# 0   73      29      63      51      72
# 1   61      29      32      68      57
# 2   36      49      76      18      37
# 3   63      61      51      30      31
# 4   36      66      71      24      77

In [ ]:
data.sum()

In [ ]:
data.reindex(sorted(data.columns, key=lambda x: x.sum()), axis=1)
data

In [ ]:
# Then do:
#data.reindex_axis(sorted(data.columns, key=lambda x: float(x[1:])), axis=1)
# resulting in:

# data


#      Q1.2    Q1.3    Q6.1    Q9.1    Q10.2
# 0    2       0       1       3       4
# 1    7       5       6       8       9
# 2    2       0       1       3       4
# 3    2       0       1       3       4