In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import re
import math
import seaborn as sns
from collections import defaultdict
from IPython.core.display import display, HTML
import pickle
#display(HTML(my_html))     # make sure Jupyter knows to display it as HTML

In [2]:
dirs = {'fassbinder': 'https://www.imdb.com/name/nm0001202/', \
        'godard':'https://www.imdb.com/name/nm0000419/', \
        'hitchcock': 'https://www.imdb.com/name/nm0000033', \
        'speilberg': 'https://www.imdb.com/name/nm0000229', \
        'kurosawa': 'https://www.imdb.com/name/nm0000041/', \
        'bergman': 'https://www.imdb.com/name/nm0000005/', \
        'allen': 'https://www.imdb.com/name/nm0000095',\
        'herzog': 'https://www.imdb.com/name/nm0001348/'}
        # scorcese

dirs_box_office = {'hitchcock':'https://www.the-numbers.com/person/66230401-Alfred-Hitchcock#tab=technical'}

In [3]:
director = 'hitchcock'

dirs_page = dirs[director]
url = dirs_page
response = requests.get(url)
print( response.status_code )
page = response.text
soup = BeautifulSoup(page, "lxml")
#need to distinguish 'filmo-head-director' from 'assistant_director' etc.
head_director_soup = soup.find('div', id='filmo-head-director')
head_director_section_soup= head_director_soup.find_next_sibling('div', class_='filmo-category-section')
films = head_director_section_soup.find_all('div', class_=re.compile('filmo-row'), id=re.compile("director"))
#films = soup.find_all('div', class_=re.compile('filmo-row'), id=re.compile("director"))

200

* Clean the datapoints below
* Ensure they are available or handled for each film's page
* Convert into numeric datatypes
* Populate a list of dictionaries with these 
* Within the loop that goes through every flick, populate the list of dictionaries with these
* Do one-hot-encoding on categorical variables
* Train and test the linear regression model

In [4]:
def is_tv_series( the_film_soup ):
    try:
        parenthesis = the_film_soup.find('a').next
        try:
            if 'TV ' in parenthesis.next:
                return True
            else:
                return False
        except:
            return False
    except:
        return False

In [5]:
def is_documentary( the_film_soup ):
    try:
        parenthesis = the_film_soup.find('a').next
        #print(parenthesis)
        try:
            if 'documentary' in parenthesis.next.lower():
                return 1
            else:
                return 0
        except:
            return 0
    except:
        return 0

In [6]:
def parse_crew_data(the_crew_soup):
    crew_data = {}
    try: 
        #print( the_crew_soup.find('h4', id='cinematographer').next_sibling )
        crew_data['cinematographer'] = the_crew_soup.find('h4', id='cinematographer').find_next_sibling('table', class_='simpleTable').find('a').text.strip()
    except: 
        crew_data['cinematographer'] = ''
    return (crew_data)

In [7]:
def parse_cast_data(the_film_soup):
    try:
        cast_table = the_film_soup.find('table', class_='cast_list').find_all('td', class_='primary_photo')
        cast_list = [(row.find_next_sibling().text.strip(), 1) for row in cast_table ]
        #cast_dict= defaultdict(cast_list)
        #cast_dict.setdefault(1)
        cast_dict = dict(cast_list)
        #print(cast_dict)
        return(cast_dict)
        #return(  the_film_soup.find('table', class_='cast_list').find_all('a', class_='primary_photo').find_next_sibling().text )
        
 #       the_film_soup.find('table', class_='cast_list').find_all('a', class_=re.compile('filmo-row'), id=re.compile("director"))
  #  return the_film_soup.find('table', class_='cast_list').find('a')
    except:
        return dict()

In [8]:
# TEST AREA
test_url = dirs['fassbinder']
test_response = requests.get(test_url)
test_page = test_response.text
test_soup = BeautifulSoup(test_page, "lxml")
test_row = test_soup.find(id='director-tt0080196')
#print(test_row)

print( test_url)
test_film_url = 'https://www.imdb.com/title/tt0084654/'
test_film_response = requests.get(test_film_url)
if(test_film_response.status_code < 400):
    test_film_page = test_film_response.text
    test_film_soup = BeautifulSoup(test_film_page, "lxml")

#print( parse_cast_data( test_film_soup ))
parse_cast_data( test_film_soup )

https://www.imdb.com/name/nm0001202/

{'Rosel Zech': 1,
 'Hilmar Thate': 1,
 'Cornelia Froboess': 1,
 'Annemarie Düringer': 1,
 'Doris Schade': 1,
 'Erik Schumann': 1,
 'Peter Berling': 1,
 'Günther Kaufmann': 1,
 'Sonja Neudorfer': 1,
 'Lilo Pempeit': 1,
 'Volker Spengler': 1,
 'Herbert Steinmetz': 1,
 'Elisabeth Volkmann': 1,
 'Hans Wyprächtiger': 1,
 'Peter Zadek': 1}

In [9]:
#crew_url = test_url + '/fullcredits'
crew_url = 'https://www.imdb.com/title/tt0084654/fullcredits'
crew_response = requests.get(crew_url)
crew_page = crew_response.text
crew_soup = BeautifulSoup(crew_page, "lxml")

the_crew_data = parse_crew_data( crew_soup )
#print(the_crew_data)
#print(is_tv_series(test_row))

In [10]:
def get_film_data_only_title( film_soup ):
    film_title_string = film_soup.find(class_ = 'title_wrapper').find('h1').text
    print(film_title_string)
    
# searching from the page_content might be more efficient. To be tested later
def parse_film_data( film_soup ):
    film_data = {}
    
    try:        
        film_title_string = (film_soup.find(class_ = 'title_wrapper').find('h1').text).strip()
    except:
        film_title_string = ''
    title_line = film_title_string.split('\xa0(')
    film_data['title'] = title_line[0].replace('\xa0','').rstrip() # title part of title line
    
    film_data['year'] = title_line[1].replace(') ', '').strip(')') if len(title_line) > 1 else '' # year part of title line
    
    try:
        film_rating_tag = film_soup.find('span', itemprop='ratingValue')
        try:
            film_rating_string = film_rating_tag.text   #find_next_sibling().text
        except:
            film_rating_string = None      
    except:
        film_rating_string = None 
    film_data['rating'] = film_rating_string
   
    try:
        film_rating_count_tag = film_soup.find('span', itemprop='ratingCount')
        try:
            film_rating_count = float( film_rating_count_tag.text.replace(',', '')) #find_next_sibling().text
        except:
            film_rating_count = None 
    except:
            film_rating_count = None 
    film_data['rating_count'] = film_rating_count
    
    try:
        film_duration_string = film_soup.find('time').text
        dur_list = film_duration_string.replace('min','').rstrip().split('h ')
        film_data['duration'] = (int(dur_list[-1]) + 60*int(dur_list[0])) if (len(dur_list)>1) else int(dur_list[-1])
    except:
        film_data['duration'] = None
      
    try:
        film_date_string = film_soup.find('a', title='see more release dates')
    except:
        film_date_string = ''  
    
    try:
        film_release_date_tag = film_soup.find('h4', text=re.compile('Release Date:'))
        try:
            film_release_date = film_release_date_tag.next_sibling.replace('\n', '')
        except:
            film_release_date = '' 
    except:
            film_release_date = '' 
    film_data['release_date'] = film_release_date
    
    
    try:
        film_metacritic_score_tag = film_soup.find('div', class_=re.compile('metacriticScore'))
        try:
            film_metacritic_score = film_metacritic_score_tag.find('span').text
        except:
            film_metacritic_score = None #math.nan  
    except:
        film_metacritic_score = None #math.nan  
    film_data['metacritic_score'] = film_metacritic_score
    try:
        film_details = film_soup.find('div', class_='article', id='titleDetails')
        try:        
            film_gross_string = film_details.find('h4', text=re.compile('Cumulative Worldwide Gross:')).next_sibling
            film_gross = int( re.sub("[^0-9]", "", film_gross_string ))
        except:
             film_gross = None 
    except:
        film_gross = None 
    film_data['worldwide_gross_imdb']  = film_gross
    
    try:
        film_runtime_tag = film_soup.find('h4', text=re.compile('Runtime:'))
        try:
             film_runtime = int(film_runtime_tag.find_next_sibling().text.strip(' min'))
        except:
            film_runtime = None 
    except:
            film_runtime = None
    film_data['runtime'] = film_runtime
    try:
        film_budget_tag = film_soup.find('h4', text=re.compile('Budget'))
        try:
            film_budget = int( re.sub("[^0-9]", "", film_budget_tag.next_sibling ))
        except:
            film_budget = None #math.nan  
    except:
            film_budget = None #math.nan  
    film_data['budget'] = film_budget
      
    return film_data

In [11]:
list_of_films = []

index_ = 0
for film in films:
    if ( not is_tv_series(film)): 
        film_url_suffix = film.find('a').get('href')
        film_url = 'https://imdb.com' + film_url_suffix
        print('\n', film_url)
        film_response = requests.get(film_url)
        if(film_response.status_code < 400):
            film_page = film_response.text
            film_soup = BeautifulSoup(film_page, "lxml")
            film_record = parse_film_data( film_soup )
            film_record['tv_series'] = 0
    else:  # To be customized 
        film_url_suffix = film.find('a').get('href')
        film_url = 'https://imdb.com' + film_url_suffix
        print('\n', film_url)
        film_response = requests.get(film_url)
        if(film_response.status_code < 400):
            film_page = film_response.text
            film_soup = BeautifulSoup(film_page, "lxml")
            film_record = parse_film_data( film_soup )
            film_record['tv_series'] = 1
            
    film_record['documentary'] = is_documentary(film)
    #print(film_record)
    
    crew_url = film_url + 'fullcredits'
   # print(crew_url)
    crew_response = requests.get(crew_url)
    crew_page = crew_response.text
    crew_soup = BeautifulSoup(crew_page, "lxml")
    film_record.update( parse_crew_data(crew_soup) )
    film_record.update( parse_cast_data(film_soup) )
    print(index_)
    print(film_record)
    
    list_of_films.append(film_record)
    index_+=1
    
film_catalog = pd.DataFrame(list_of_films )

 https://imdb.com/title/tt6914094/
0
{'title': 'Kaleidoscope', 'year': '1967', 'rating': None, 'rating_count': None, 'duration': None, 'release_date': '', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': None, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Arthur Schatz'}

 https://imdb.com/title/tt3455796/
1
{'title': 'Memory of the Camps', 'year': '2014', 'rating': '8.3', 'rating_count': 480.0, 'duration': 70, 'release_date': ' 26 July 2015 (USA)    ', 'metacritic_score': None, 'worldwide_gross': 4468, 'runtime': 70, 'budget': None, 'tv_series': 1, 'documentary': 1, 'cinematographer': '', 'Jasper Britton': 1, 'Adolf Hitler': 1}

 https://imdb.com/title/tt0074512/
2
{'title': 'Family Plot', 'year': '1976', 'rating': '6.8', 'rating_count': 20765.0, 'duration': None, 'release_date': ' 9 April 1976 (USA)    ', 'metacritic_score': '79', 'worldwide_gross': None, 'runtime': 120, 'budget': 4490375, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Leonard J. South', 'Karen Black': 1, 'Bruce Dern': 1, 'Barbara Harris': 1, 'William Devane': 1, 'Ed Lauter': 1, 'Cathleen Nesbitt': 1, 'Katherine Helmond': 1, 'Warren J. Kemmerling': 1, 'Edith Atwater': 1, 'William Prince': 1, 'Nicholas Colasanto': 1, 'Marge Redmond': 1, 'John Lehne': 1, 'Charles Tyner': 1, 'Alexander Lockwood': 1}

 https://imdb.com/title/tt0068611/
3
{'title': 'Frenzy', 'year': '1972', 'rating': '7.4', 'rating_count': 41391.0, 'duration': 116, 'release_date': ' 21 June 1972 (USA)    ', 'metacritic_score': '92', 'worldwide_gross': 4121, 'runtime': 116, 'budget': 2000000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Gilbert Taylor', 'Jon Finch': 1, 'Barry Foster': 1, 'Barbara Leigh-Hunt': 1, 'Anna Massey': 1, 'Alec McCowen': 1, 'Vivien Merchant': 1, 'Billie Whitelaw': 1, 'Clive Swift': 1, 'Bernard Cribbins': 1, 'Michael Bates': 1, 'Jean Marsh': 1, 'Madge Ryan': 1, 'Elsie Randolph': 1, 'Gerald Sim': 1, 'John Boxer': 1}

 https://imdb.com/title/tt0065112/
4
{'title': 'Topaz', 'year': '1969', 'rating': '6.3', 'rating_count': 16705.0, 'duration': 143, 'release_date': ' 19 December 1969 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 143, 'budget': 4000000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Jack Hildyard', 'Frederick Stafford': 1, 'Dany Robin': 1, 'John Vernon': 1, 'Karin Dor': 1, 'Michel Piccoli': 1, 'Philippe Noiret': 1, 'Claude Jade': 1, 'Michel Subor': 1, 'Per-Axel Arosenius': 1, 'Roscoe Lee Browne': 1, 'Edmon Ryan': 1, 'Sonja Kolthoff': 1, 'Tina Hedström': 1, 'John Van Dreelen': 1, 'Donald Randolph': 1}

 https://imdb.com/title/tt0061107/
5
{'title': 'Torn Curtain', 'year': '1966', 'rating': '6.7', 'rating_count': 24717.0, 'duration': 128, 'release_date': ' 27 July 1966 (USA)    ', 'metacritic_score': '55', 'worldwide_gross': None, 'runtime': 128, 'budget': 6000000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'John F. Warren', 'Paul Newman': 1, 'Julie Andrews': 1, 'Lila Kedrova': 1, 'Hansjörg Felmy': 1, 'Tamara Toumanova': 1, 'Ludwig Donath': 1, 'Wolfgang Kieling': 1, 'Günter Strack': 1, 'David Opatoshu': 1, 'Gisela Fischer': 1, 'Mort Mills': 1, 'Carolyn Conwell': 1, 'Arthur Gould-Porter': 1, 'Gloria Govrin': 1}

 https://imdb.com/title/tt0058329/
6
{'title': 'Marnie', 'year': '1964', 'rating': '7.2', 'rating_count': 45189.0, 'duration': 130, 'release_date': ' 17 July 1964 (USA)    ', 'metacritic_score': '73', 'worldwide_gross': 7095, 'runtime': 130, 'budget': 3000000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Robert Burks', 'Tippi Hedren': 1, 'Martin Gabel': 1, 'Sean Connery': 1, 'Louise Latham': 1, 'Diane Baker': 1, 'Alan Napier': 1, 'Bob Sweeney': 1, 'Milton Selzer': 1, 'Henry Beckman': 1, 'Edith Evanson': 1, 'Mariette Hartley': 1, 'Bruce Dern': 1, 'S. John Launer': 1, 'Meg Wyllie': 1}

 https://imdb.com/title/tt0056869/
7
{'title': 'The Birds', 'year': '1963', 'rating': '7.7', 'rating_count': 171423.0, 'duration': 119, 'release_date': ' 29 March 1963 (USA)    ', 'metacritic_score': '90', 'worldwide_gross': 32655, 'runtime': 119, 'budget': 2500000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Robert Burks', 'Rod Taylor': 1, 'Jessica Tandy': 1, 'Suzanne Pleshette': 1, 'Tippi Hedren': 1, 'Veronica Cartwright': 1, 'Ethel Griffies': 1, 'Charles McGraw': 1, 'Ruth McDevitt': 1, 'Lonny Chapman': 1, 'Joe Mantell': 1, 'Doodles Weaver': 1, 'Malcolm Atterbury': 1, 'John McGovern': 1, 'Karl Swenson': 1, 'Richard Deacon': 1}

 https://imdb.com/title/tt0055657/
8
{'title': 'The Alfred Hitchcock Hour', 'year': '', 'rating': '8.5', 'rating_count': 3876.0, 'duration': 50, 'release_date': ' 20 September 1962 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 50, 'budget': None, 'tv_series': 1, 'documentary': 0, 'cinematographer': 'John F. Warren', 'Alfred Hitchcock': 1}

 https://imdb.com/title/tt0047708/
9
{'title': 'Alfred Hitchcock Presents', 'year': '', 'rating': '8.5', 'rating_count': 14754.0, 'duration': 25, 'release_date': ' 2 October 1955 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 25, 'budget': None, 'tv_series': 1, 'documentary': 0, 'cinematographer': 'John L. Russell', 'Alfred Hitchcock': 1}

 https://imdb.com/title/tt0054215/
10
{'title': 'Psycho', 'year': '1960', 'rating': '8.5', 'rating_count': 602642.0, 'duration': 109, 'release_date': ' 8 September 1960 (USA)    ', 'metacritic_score': '97', 'worldwide_gross': 32040242, 'runtime': 109, 'budget': 806947, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'John L. Russell', 'Anthony Perkins': 1, 'Vera Miles': 1, 'John Gavin': 1, 'Janet Leigh': 1, 'Martin Balsam': 1, 'John McIntire': 1, 'Simon Oakland': 1, 'Frank Albertson': 1, 'Patricia Hitchcock': 1, 'Vaughn Taylor': 1, 'Lurene Tuttle': 1, 'John Anderson': 1, 'Mort Mills': 1}

 https://imdb.com/title/tt0052511/
11
{'title': 'Startime', 'year': '', 'rating': '5.6', 'rating_count': 127.0, 'duration': None, 'release_date': ' 6 October 1959 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 60, 'budget': None, 'tv_series': 1, 'documentary': 0, 'cinematographer': 'John L. Russell', 'Ethel Merman': 1, 'Dean Martin': 1, 'Alice Backes': 1, 'Jack Albertson': 1, 'Marian Anderson': 1, 'Polly Bergen': 1, 'John F. Kennedy': 1, 'Richard Nixon': 1, 'Jack Paar': 1, 'Vincent Price': 1, 'Ed Wynn': 1, 'Carl Ballantine': 1, 'Bob Crosby': 1, 'Nanette Fabray': 1, 'Woody Herman': 1, 'Ronald Reagan': 1, 'Jack Sperling': 1}

 https://imdb.com/title/tt0053125/
12
{'title': 'North by Northwest', 'year': '1959', 'rating': '8.3', 'rating_count': 298465.0, 'duration': 136, 'release_date': ' 18 December 1959 (USA)    ', 'metacritic_score': '98', 'worldwide_gross': 73695, 'runtime': 136, 'budget': 3101000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Robert Burks', 'Cary Grant': 1, 'Eva Marie Saint': 1, 'James Mason': 1, 'Jessie Royce Landis': 1, 'Leo G. Carroll': 1, 'Josephine Hutchinson': 1, 'Philip Ober': 1, 'Martin Landau': 1, 'Adam Williams': 1, 'Edward Platt': 1, 'Robert Ellenstein': 1, 'Les Tremayne': 1, 'Philip Coolidge': 1, 'Patrick McVey': 1, 'Edward Binns': 1}

 https://imdb.com/title/tt0052357/
13
{'title': 'Vertigo', 'year': '1958', 'rating': '8.3', 'rating_count': 363389.0, 'duration': 128, 'release_date': ' 22 May 1958 (UK)    ', 'metacritic_score': '100', 'worldwide_gross': 7797300, 'runtime': 128, 'budget': 2479000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Robert Burks', 'James Stewart': 1, 'Kim Novak': 1, 'Barbara Bel Geddes': 1, 'Tom Helmore': 1, 'Henry Jones': 1, 'Raymond Bailey': 1, 'Ellen Corby': 1, 'Konstantin Shayne': 1, 'Lee Patrick': 1}

 https://imdb.com/title/tt0050064/
14
{'title': 'Suspicion', 'year': '', 'rating': '8.4', 'rating_count': 320.0, 'duration': None, 'release_date': ' 30 September 1957 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 60, 'budget': None, 'tv_series': 1, 'documentary': 0, 'cinematographer': 'Ray Rennahan', "Dennis O'Keefe": 1, 'Mike Ragan': 1, 'Cris Roberts': 1, 'David Armstrong': 1, 'Janice Rule': 1, 'Marian Seldes': 1, 'John Baragrey': 1, 'Jack Klugman': 1, 'Sebastian Cabot': 1, 'Harold J. Stone': 1, 'Edward Binns': 1, 'Jim Johnson': 1, 'Tita Purdom': 1, 'Albert Carrier': 1, 'Juney Ellis': 1, 'Ken Clark': 1, 'Doris Lloyd': 1, 'Alexander Davion': 1, 'Gene Roth': 1, 'Clark Howat': 1, 'George Pelling': 1, 'Marcel De la Brosse': 1, 'Dorothea Lord': 1, 'Selmer Jackson': 1, 'Jennifer West': 1, 'Ken Hooker': 1, 'Howard Wendell': 1, 'Macdonald Carey': 1, 'Phyllis Thaxter': 1, 'Kent Smith': 1, 'Everett Sloane': 1, 'James Congdon': 1, 'Roddy McDowall': 1}

 https://imdb.com/title/tt0051207/

15
{'title': 'The Wrong Man', 'year': '1956', 'rating': '7.4', 'rating_count': 25627.0, 'duration': 105, 'release_date': ' 26 January 1957 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 105, 'budget': 1200000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Robert Burks', 'Henry Fonda': 1, 'Vera Miles': 1, 'Anthony Quayle': 1, 'Harold J. Stone': 1, 'Charles Cooper': 1, 'John Heldabrand': 1, 'Esther Minciotti': 1, 'Doreen Lang': 1, 'Laurinda Barrett': 1, 'Norma Connolly': 1, 'Nehemiah Persoff': 1, "Lola D'Annunzio": 1, 'Kippy Campbell': 1, 'Robert Essen': 1, 'Richard Robbins': 1}

 https://imdb.com/title/tt0049470/
16
{'title': 'The Man Who Knew Too Much', 'year': '1956', 'rating': '7.4', 'rating_count': 58413.0, 'duration': None, 'release_date': ' 1 June 1956 (USA)    ', 'metacritic_score': '78', 'worldwide_gross': 8190, 'runtime': 120, 'budget': 2500000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Robert Burks', 'James Stewart': 1, 'Doris Day': 1, 'Brenda de Banzie': 1, 'Bernard Miles': 1, 'Ralph Truman': 1, 'Daniel Gélin': 1, 'Mogens Wieth': 1, 'Alan Mowbray': 1, 'Hillary Brooke': 1, 'Christopher Olsen': 1, 'Reggie Nalder': 1, 'Richard Wattis': 1, 'Noel Willman': 1, 'Alix Talton': 1, 'Yves Brainville': 1}

 https://imdb.com/title/tt0048750/
17
{'title': 'The Trouble with Harry', 'year': '1955', 'rating': '7.1', 'rating_count': 33710.0, 'duration': 99, 'release_date': ' 3 October 1955 (USA)    ', 'metacritic_score': '74', 'worldwide_gross': None, 'runtime': 99, 'budget': 1200000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Robert Burks', 'Edmund Gwenn': 1, 'John Forsythe': 1, 'Mildred Natwick': 1, 'Mildred Dunnock': 1, 'Jerry Mathers': 1, 'Royal Dano': 1, 'Parker Fennelly': 1, 'Barry Macollum': 1, 'Dwight Marfield': 1, 'Shirley MacLaine': 1}

 https://imdb.com/title/tt0048728/
18
{'title': 'To Catch a Thief', 'year': '1955', 'rating': '7.4', 'rating_count': 65028.0, 'duration': 106, 'release_date': ' 5 August 1955 (USA)    ', 'metacritic_score': None, 'worldwide_gross': 826, 'runtime': 106, 'budget': 2500000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Robert Burks', 'Cary Grant': 1, 'Grace Kelly': 1, 'Jessie Royce Landis': 1, 'John Williams': 1, 'Charles Vanel': 1, 'Brigitte Auber': 1, 'Jean Martinelli': 1, 'Georgette Anys': 1}

 https://imdb.com/title/tt0047396/
19
{'title': 'Rear Window', 'year': '1954', 'rating': '8.4', 'rating_count': 442989.0, 'duration': 112, 'release_date': ' September 1954 (USA)    ', 'metacritic_score': '100', 'worldwide_gross': 37034514, 'runtime': 112, 'budget': 1000000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Robert Burks', 'James Stewart': 1, 'Grace Kelly': 1, 'Wendell Corey': 1, 'Thelma Ritter': 1, 'Raymond Burr': 1, 'Judith Evelyn': 1, 'Ross Bagdasarian': 1, 'Georgine Darcy': 1, 'Sara Berner': 1, 'Frank Cady': 1, 'Jesslyn Fax': 1, 'Rand Harper': 1, 'Irene Winston': 1, 'Havis Davenport': 1}

 https://imdb.com/title/tt0046912/
20
{'title': 'Dial M for Murder', 'year': '1954', 'rating': '8.2', 'rating_count': 157825.0, 'duration': 105, 'release_date': ' 29 May 1954 (USA)    ', 'metacritic_score': '75', 'worldwide_gross': 18816, 'runtime': 105, 'budget': 1400000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Robert Burks', 'Ray Milland': 1, 'Grace Kelly': 1, 'Robert Cummings': 1, 'John Williams': 1, 'Anthony Dawson': 1, 'Leo Britt': 1, 'Patrick Allen': 1, 'George Leigh': 1, 'George Alderson': 1, 'Robin Hughes': 1}

 https://imdb.com/title/tt0045897/
21
{'title': 'I Confess', 'year': '1953', 'rating': '7.3', 'rating_count': 19065.0, 'duration': 95, 'release_date': ' 28 February 1953 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 95, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Robert Burks', 'Montgomery Clift': 1, 'Anne Baxter': 1, 'Karl Malden': 1, 'Brian Aherne': 1, 'O.E. Hasse': 1, 'Roger Dann': 1, 'Dolly Haas': 1, 'Charles Andre': 1}

 https://imdb.com/title/tt0044079/
22
{'title': 'Strangers on a Train', 'year': '1951', 'rating': '7.9', 'rating_count': 123135.0, 'duration': 101, 'release_date': ' 30 June 1951 (USA)    ', 'metacritic_score': '88', 'worldwide_gross': 534, 'runtime': 101, 'budget': 1200000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Robert Burks', 'Farley Granger': 1, 'Ruth Roman': 1, 'Robert Walker': 1, 'Leo G. Carroll': 1, 'Patricia Hitchcock': 1, 'Kasey Rogers': 1, 'Marion Lorne': 1, 'Jonathan Hale': 1, 'Howard St. John': 1, 'John Brown': 1, 'Norma Varden': 1, 'Robert Gist': 1}

 https://imdb.com/title/tt0042994/
23
{'title': 'Stage Fright', 'year': '1950', 'rating': '7.1', 'rating_count': 12764.0, 'duration': 110, 'release_date': ' 15 April 1950 (USA)    ', 'metacritic_score': None, 'worldwide_gross': 47, 'runtime': 110, 'budget': 1437000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Wilkie Cooper', 'Jane Wyman': 1, 'Marlene Dietrich': 1, 'Michael Wilding': 1, 'Richard Todd': 1, 'Alastair Sim': 1, 'Sybil Thorndike': 1, 'Kay Walsh': 1, 'Miles Malleson': 1, 'Hector MacGregor': 1, 'Joyce Grenfell': 1, 'André Morell': 1, 'Patricia Hitchcock': 1, 'Ballard Berkeley': 1}

 https://imdb.com/title/tt0042004/
24
{'title': 'Under Capricorn', 'year': '1949', 'rating': '6.2', 'rating_count': 6430.0, 'duration': 117, 'release_date': ' 8 October 1949 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 117, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Jack Cardiff', 'Ingrid Bergman': 1, 'Joseph Cotten': 1, 'Michael Wilding': 1, 'Margaret Leighton': 1, 'Cecil Parker': 1, "Denis O'Dea": 1, 'Jack Watling': 1, 'Harcourt Williams': 1, 'John Ruddock': 1, 'Bill Shine': 1, 'Victor Lucas': 1, 'Ronald Adam': 1, 'Francis De Wolff': 1, 'G.H. Mulcaster': 1, 'Olive Sloane': 1}

 https://imdb.com/title/tt0040746/
25
{'title': 'Rope', 'year': '1948', 'rating': '8.0', 'rating_count': 129451.0, 'duration': 80, 'release_date': ' 25 September 1948 (USA)    ', 'metacritic_score': '73', 'worldwide_gross': 10433, 'runtime': 80, 'budget': 1500000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'William V. Skall', 'Dick Hogan': 1, 'John Dall': 1, 'Farley Granger': 1, 'Edith Evanson': 1, 'Douglas Dick': 1, 'Joan Chandler': 1, 'Cedric Hardwicke': 1, 'Constance Collier': 1, 'James Stewart': 1}

 https://imdb.com/title/tt0039694/
26
{'title': 'The Paradine Case', 'year': '1947', 'rating': '6.6', 'rating_count': 10106.0, 'duration': 125, 'release_date': ' 13 July 1948 (USA)    ', 'metacritic_score': None, 'worldwide_gross': 6789, 'runtime': 125, 'budget': 4258000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Lee Garmes', 'Gregory Peck': 1, 'Ann Todd': 1, 'Charles Laughton': 1, 'Charles Coburn': 1, 'Ethel Barrymore': 1, 'Louis Jourdan': 1, 'Alida Valli': 1, 'Leo G. Carroll': 1, 'Joan Tetzel': 1, 'Isobel Elsom': 1}

 https://imdb.com/title/tt0038787/
27
{'title': 'Notorious', 'year': '1946', 'rating': '7.9', 'rating_count': 92121.0, 'duration': 102, 'release_date': ' 6 September 1946 (USA)    ', 'metacritic_score': '100', 'worldwide_gross': 113061, 'runtime': 102, 'budget': 2000000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Ted Tetzlaff', 'Cary Grant': 1, 'Ingrid Bergman': 1, 'Claude Rains': 1, 'Louis Calhern': 1, 'Leopoldine Konstantin': 1, 'Reinhold Schünzel': 1, 'Moroni Olsen': 1, 'Ivan Triesault': 1, 'Alexis Minotis': 1, 'Wally Brown': 1, 'Charles Mendl': 1, 'Ricardo Costa': 1, 'E.A. Krumschmidt': 1, 'Fay Baker': 1}

 https://imdb.com/title/tt0038109/
28
{'title': 'Spellbound', 'year': '1945', 'rating': '7.6', 'rating_count': 43389.0, 'duration': 111, 'release_date': ' 28 December 1945 (USA)    ', 'metacritic_score': None, 'worldwide_gross': 19000, 'runtime': 111, 'budget': 1696377, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'George Barnes', 'Ingrid Bergman': 1, 'Gregory Peck': 1, 'Michael Chekhov': 1, 'Leo G. Carroll': 1, 'Rhonda Fleming': 1, 'John Emery': 1, 'Norman Lloyd': 1, 'Bill Goodwin': 1, 'Steven Geray': 1, 'Donald Curtis': 1, 'Wallace Ford': 1, 'Art Baker': 1, 'Regis Toomey': 1, 'Paul Harvey': 1}

 https://imdb.com/title/tt0187589/
29
{'title': 'Watchtower Over Tomorrow', 'year': '1945', 'rating': '6.5', 'rating_count': 213.0, 'duration': 15, 'release_date': ' 29 March 1945 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 15, 'budget': None, 'tv_series': 0, 'documentary': 1, 'cinematographer': 'Lester White', 'John Nesbitt': 1, 'Edward R. Stettinius Jr.': 1}

 https://imdb.com/title/tt1375299/

30
{'title': 'The Fighting Generation', 'year': '1944', 'rating': '5.9', 'rating_count': 213.0, 'duration': 2, 'release_date': ' October 1944 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 2, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Gregg Toland', 'Jennifer Jones': 1, 'Rhonda Fleming': 1, 'Steve Dunhill': 1, 'Tony Devlin': 1}

 https://imdb.com/title/tt0036621/
31
{'title': 'Aventure malgache', 'year': '1944', 'rating': '5.5', 'rating_count': 1446.0, 'duration': 32, 'release_date': ' June 1944 (Portugal)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 32, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Günther Krampf', 'Paul Bonifas': 1, 'Paul Clarus': 1, 'Jean Dattas': 1, 'Andre Frere': 1, 'Paulette Preney': 1}

 https://imdb.com/title/tt0036659/
32
{'title': 'Bon Voyage', 'year': '1944', 'rating': '6.2', 'rating_count': 1653.0, 'duration': 26, 'release_date': ' June 1944 (Portugal)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 26, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Günther Krampf', 'John Blythe': 1, 'Janique Joelle': 1}

 https://imdb.com/title/tt0037017/
33
{'title': 'Lifeboat', 'year': '1944', 'rating': '7.6', 'rating_count': 26405.0, 'duration': 97, 'release_date': ' 28 January 1944 (USA)    ', 'metacritic_score': '78', 'worldwide_gross': None, 'runtime': 97, 'budget': 1590000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Glen MacWilliams', 'Tallulah Bankhead': 1, 'William Bendix': 1, 'Walter Slezak': 1, 'Mary Anderson': 1, 'John Hodiak': 1, 'Henry Hull': 1, 'Heather Angel': 1, 'Hume Cronyn': 1, 'Canada Lee': 1}

 https://imdb.com/title/tt0036342/
34
{'title': 'Shadow of a Doubt', 'year': '1943', 'rating': '7.8', 'rating_count': 59434.0, 'duration': 108, 'release_date': ' 15 January 1943 (USA)    ', 'metacritic_score': '94', 'worldwide_gross': 159, 'runtime': 108, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Joseph A. Valentine', 'Teresa Wright': 1, 'Joseph Cotten': 1, 'Macdonald Carey': 1, 'Henry Travers': 1, 'Patricia Collinge': 1, 'Hume Cronyn': 1, 'Wallace Ford': 1, 'Edna May Wonacott': 1, 'Charles Bates': 1, 'Irving Bacon': 1, 'Clarence Muse': 1, 'Janet Shaw': 1, 'Estelle Jewell': 1}

 https://imdb.com/title/tt0035279/
35
{'title': 'Saboteur', 'year': '1942', 'rating': '7.2', 'rating_count': 23376.0, 'duration': 109, 'release_date': ' 24 April 1942 (USA)    ', 'metacritic_score': '64', 'worldwide_gross': None, 'runtime': 109, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Joseph A. Valentine', 'Priscilla Lane': 1, 'Robert Cummings': 1, 'Otto Kruger': 1, 'Alan Baxter': 1, 'Clem Bevans': 1, 'Norman Lloyd': 1, 'Alma Kruger': 1, 'Vaughan Glaser': 1, 'Dorothy Peterson': 1, 'Ian Wolfe': 1, 'Frances Carson': 1, 'Murray Alper': 1, 'Kathryn Adams': 1, 'Pedro de Cordoba': 1, 'Billy Curtis': 1}

 https://imdb.com/title/tt0034248/
36
{'title': 'Suspicion', 'year': '1941', 'rating': '7.4', 'rating_count': 32705.0, 'duration': 99, 'release_date': ' 14 November 1941 (USA)    ', 'metacritic_score': '83', 'worldwide_gross': None, 'runtime': 99, 'budget': 1103000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Harry Stradling Sr.', 'Cary Grant': 1, 'Joan Fontaine': 1, 'Cedric Hardwicke': 1, 'Nigel Bruce': 1, 'May Whitty': 1, 'Isabel Jeans': 1, 'Heather Angel': 1, 'Auriol Lee': 1, 'Reginald Sheffield': 1, 'Leo G. Carroll': 1}

 https://imdb.com/title/tt0033922/
37
{'title': 'Mr. & Mrs. Smith', 'year': '1941', 'rating': '6.4', 'rating_count': 9321.0, 'duration': 95, 'release_date': ' 31 January 1941 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 95, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Harry Stradling Sr.', 'Carole Lombard': 1, 'Robert Montgomery': 1, 'Gene Raymond': 1, 'Jack Carson': 1, 'Philip Merivale': 1, 'Lucile Watson': 1, 'William Tracy': 1, 'Charles Halton': 1, 'Esther Dale': 1, 'Emma Dunn': 1, 'Betty Compson': 1, 'Patricia Farr': 1, 'William Edmunds': 1, 'Pamela Blake': 1}

 https://imdb.com/title/tt0032484/
38
{'title': 'Foreign Correspondent', 'year': '1940', 'rating': '7.5', 'rating_count': 18433.0, 'duration': None, 'release_date': ' 16 August 1940 (USA)    ', 'metacritic_score': '88', 'worldwide_gross': 623, 'runtime': 120, 'budget': 1500000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Rudolph Maté', 'Joel McCrea': 1, 'Laraine Day': 1, 'Herbert Marshall': 1, 'George Sanders': 1, 'Albert Bassermann': 1, 'Robert Benchley': 1, 'Edmund Gwenn': 1, 'Eduardo Ciannelli': 1, 'Harry Davenport': 1, 'Martin Kosleck': 1, 'Frances Carson': 1, 'Ian Wolfe': 1, 'Charles Wagenheim': 1, 'Eddie Conrad': 1, 'Charles Halton': 1}

 https://imdb.com/title/tt0032976/
39
{'title': 'Rebecca', 'year': '1940', 'rating': '8.1', 'rating_count': 123608.0, 'duration': 130, 'release_date': ' 12 April 1940 (USA)    ', 'metacritic_score': '86', 'worldwide_gross': 72275, 'runtime': 130, 'budget': 1288000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'George Barnes', 'Laurence Olivier': 1, 'Joan Fontaine': 1, 'George Sanders': 1, 'Judith Anderson': 1, 'Nigel Bruce': 1, 'Reginald Denny': 1, 'C. Aubrey Smith': 1, 'Gladys Cooper': 1, 'Florence Bates': 1, 'Melville Cooper': 1, 'Leo G. Carroll': 1, 'Leonard Carey': 1, 'Lumsden Hare': 1, 'Edward Fielding': 1, 'Philip Winter': 1}

 https://imdb.com/title/tt0032609/
40
{'title': 'The House Across the Bay', 'year': '1940', 'rating': '6.5', 'rating_count': 437.0, 'duration': 88, 'release_date': ' 1 March 1940 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 88, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Merritt B. Gerstad', 'George Raft': 1, 'Joan Bennett': 1, 'Lloyd Nolan': 1, 'Walter Pidgeon': 1, 'Gladys George': 1, 'Peggy Shannon': 1, 'June Knight': 1, 'Joe Sawyer': 1, 'Cy Kendall': 1, 'Billy Wayne': 1, 'Georges Renavent': 1, 'Max Wagner': 1, 'Frank Bruno': 1, 'Joseph Crehan': 1, 'Edward Fielding': 1}

 https://imdb.com/title/tt0031505/
41
{'title': 'Jamaica Inn', 'year': '1939', 'rating': '6.4', 'rating_count': 9109.0, 'duration': 98, 'release_date': ' 13 October 1939 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 108, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Bernard Knowles', 'Charles Laughton': 1, 'Horace Hodges': 1, 'Hay Petrie': 1, 'Frederick Piper': 1, 'Herbert Lomas': 1, 'Clare Greet': 1, 'William Devlin': 1, 'Jeanne De Casalis': 1, 'Mabel Terry-Lewis': 1, 'A. Bromley Davenport': 1, 'George Curzon': 1, 'Basil Radford': 1, 'Leslie Banks': 1, 'Marie Ney': 1, "Maureen O'Hara": 1}

 https://imdb.com/title/tt0030341/
42
{'title': 'The Lady Vanishes', 'year': '1938', 'rating': '7.8', 'rating_count': 47282.0, 'duration': 96, 'release_date': ' 1 November 1938 (USA)    ', 'metacritic_score': None, 'worldwide_gross': 39776, 'runtime': 96, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Jack E. Cox', 'Margaret Lockwood': 1, 'Michael Redgrave': 1, 'Paul Lukas': 1, 'May Whitty': 1, 'Cecil Parker': 1, 'Linden Travers': 1, 'Naunton Wayne': 1, 'Basil Radford': 1, 'Mary Clare': 1, 'Emile Boreo': 1, 'Googie Withers': 1, 'Sally Stewart': 1, 'Philip Leaver': 1, 'Selma Vaz Dias': 1, 'Catherine Lacey': 1}

 https://imdb.com/title/tt0029811/
43
{'title': 'Young and Innocent', 'year': '1937', 'rating': '6.9', 'rating_count': 8626.0, 'duration': 83, 'release_date': ' 23 November 1939 (Sweden)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 80, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Bernard Knowles', 'Nova Pilbeam': 1, 'Derrick De Marney': 1, 'Percy Marmont': 1, 'Edward Rigby': 1, 'Mary Clare': 1, 'John Longden': 1, 'George Curzon': 1, 'Basil Radford': 1, 'Pamela Carme': 1, 'George Merritt': 1, 'J.H. Roberts': 1, 'Jerry Verno': 1, 'H.F. Maltby': 1, 'John Miller': 1}

 https://imdb.com/title/tt0028212/
44
{'title': 'Sabotage', 'year': '1936', 'rating': '7.0', 'rating_count': 14926.0, 'duration': 76, 'release_date': ' 11 January 1937 (USA)    ', 'metacritic_score': '85', 'worldwide_gross': None, 'runtime': 76, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Bernard Knowles', 'Sylvia Sidney': 1, 'Oskar Homolka': 1, 'Desmond Tester': 1, 'John Loder': 1, 'Joyce Barbour': 1, 'Matthew Boulton': 1, 'S.J. Warmington': 1, 'William Dewhurst': 1}

 https://imdb.com/title/tt0028231/

45
{'title': 'Secret Agent', 'year': '1936', 'rating': '6.5', 'rating_count': 7759.0, 'duration': 86, 'release_date': ' 15 June 1936 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 86, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Bernard Knowles', 'Madeleine Carroll': 1, 'Peter Lorre': 1, 'John Gielgud': 1, 'Robert Young': 1, 'Percy Marmont': 1, 'Florence Kahn': 1, 'Charles Carson': 1, 'Lilli Palmer': 1}

 https://imdb.com/title/tt0026029/
46
{'title': 'The 39 Steps', 'year': '1935', 'rating': '7.6', 'rating_count': 51717.0, 'duration': 86, 'release_date': ' 1 August 1935 (USA)    ', 'metacritic_score': '93', 'worldwide_gross': 51711, 'runtime': 86, 'budget': 50000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Bernard Knowles', 'Robert Donat': 1, 'Madeleine Carroll': 1, 'Lucie Mannheim': 1, 'Godfrey Tearle': 1, 'Peggy Ashcroft': 1, 'John Laurie': 1, 'Helen Haye': 1, 'Frank Cellier': 1, 'Wylie Watson': 1, 'Gus McNaughton': 1, 'Jerry Verno': 1, 'Peggy Simpson': 1}

 https://imdb.com/title/tt0026966/
47
{'title': 'Sanders of the River', 'year': '1935', 'rating': '5.5', 'rating_count': 517.0, 'duration': 85, 'release_date': ' 26 June 1935 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 98, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Osmond Borradaile', 'Paul Robeson': 1, 'Leslie Banks': 1, 'Nina Mae McKinney': 1, 'Robert Cochran': 1, 'Martin Walker': 1, 'Richard Grey': 1, 'Tony Wane': 1, 'Marqués De Portago': 1, 'Eric Maturin': 1, 'Allan Jeayes': 1, 'Charles Carson': 1, 'Luao': 1, 'Kilongalonga': 1, 'Oboja': 1, 'Members of Acholi Tribe': 1}

 https://imdb.com/title/tt0025452/
48
{'title': 'The Man Who Knew Too Much', 'year': '1934', 'rating': '6.8', 'rating_count': 16966.0, 'duration': 75, 'release_date': ' 15 April 1935 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 75, 'budget': 40000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Curt Courant', 'Leslie Banks': 1, 'Edna Best': 1, 'Peter Lorre': 1, 'Frank Vosper': 1, 'Hugh Wakefield': 1, 'Nova Pilbeam': 1, 'Pierre Fresnay': 1, 'Cicely Oates': 1, 'D.A. Clarke-Smith': 1, 'George Curzon': 1}

 https://imdb.com/title/tt0024747/
49
{'title': "Strauss' Great Waltz", 'year': '1934', 'rating': '6.0', 'rating_count': 1283.0, 'duration': 80, 'release_date': ' 7 April 1935 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 81, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Glen MacWilliams', 'Jessie Matthews': 1, 'Edmund Gwenn': 1, 'Fay Compton': 1, 'Esmond Knight': 1, 'Frank Vosper': 1, 'Robert Hale': 1, 'Charles Heslop': 1, 'Hindle Edgar': 1, 'Marcus Barron': 1, 'Betty Huntley-Wright': 1}

 https://imdb.com/title/tt0023285/
50
{'title': 'Number 17', 'year': '1932', 'rating': '5.8', 'rating_count': 4422.0, 'duration': 66, 'release_date': ' 7 November 1932 (UK)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 66, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Jack E. Cox', 'Leon M. Lion': 1, 'Anne Grey': 1, 'John Stuart': 1, 'Donald Calthrop': 1, 'Barry Jones': 1, 'Ann Casson': 1, 'Henry Caine': 1, 'Garry Marsh': 1}

 https://imdb.com/title/tt0023395/
51
{'title': 'East of Shanghai', 'year': '1931', 'rating': '5.8', 'rating_count': 3968.0, 'duration': 83, 'release_date': ' 13 June 1932 (UK)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 110, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Jack E. Cox', 'Henry Kendall': 1, 'Joan Barry': 1, 'Percy Marmont': 1, 'Betty Amann': 1, 'Elsie Randolph': 1}

 https://imdb.com/title/tt0021128/
52
{'title': 'Mary', 'year': '1931', 'rating': '6.1', 'rating_count': 678.0, 'duration': 78, 'release_date': ' 2 March 1931 (Germany)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 78, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Jack E. Cox', 'Alfred Abel': 1, 'Olga Tschechowa': 1, 'Paul Graetz': 1, 'Lotte Stein': 1, 'Ekkehard Arendt': 1, 'John Mylong': 1, 'Louis Ralph': 1, 'Hermine Sterler': 1, 'Fritz Alberti': 1, 'Else Schünzel': 1, 'Julius Brandt': 1, 'Rudolf Meinhard-Jünger': 1, 'Fritz Grossman': 1, 'Lucie Euler': 1, 'Harry Hardt': 1}

 https://imdb.com/title/tt0022395/
53
{'title': 'The Skin Game', 'year': '1931', 'rating': '5.8', 'rating_count': 2871.0, 'duration': 85, 'release_date': ' 20 June 1931 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 85, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Jack E. Cox', 'C.V. France': 1, 'Helen Haye': 1, 'Jill Esmond': 1, 'Edmund Gwenn': 1, 'John Longden': 1, 'Phyllis Konstam': 1, 'Frank Lawton': 1, 'Herbert Ross': 1, 'Dora Gregory': 1, 'Edward Chapman': 1, 'R.E. Jeffrey': 1, 'George Bancroft': 1, 'Ronald Frankau': 1}

 https://imdb.com/title/tt0021165/
54
{'title': 'Murder!', 'year': '1930', 'rating': '6.4', 'rating_count': 5773.0, 'duration': 92, 'release_date': ' 24 November 1930 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 104, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Jack E. Cox', 'Herbert Marshall': 1, 'Norah Baring': 1, 'Phyllis Konstam': 1, 'Edward Chapman': 1, 'Miles Mander': 1, 'Esme Percy': 1, 'Donald Calthrop': 1, 'Esme V. Chaplin': 1, 'Amy Brandon Thomas': 1, 'Joynson Powell': 1, 'S.J. Warmington': 1, 'Marie Wright': 1, 'Hannah Jones': 1, "Una O'Connor": 1, 'R.E. Jeffrey': 1}

 https://imdb.com/title/tt0021015/
55
{'title': 'Juno and the Paycock', 'year': '1930', 'rating': '4.8', 'rating_count': 2064.0, 'duration': 85, 'release_date': ' 22 September 1930 (UK)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 85, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Jack E. Cox', 'Barry Fitzgerald': 1, "Maire O'Neill": 1, 'Edward Chapman': 1, 'Sidney Morgan': 1, 'Sara Allgood': 1, 'John Laurie': 1, 'Dave Morris': 1, "Kathleen O'Regan": 1, 'John Longden': 1, 'Dennis Wyndham': 1, 'Fred Schwartz': 1}

 https://imdb.com/title/tt0295228/
56
{'title': 'An Elastic Affair', 'year': '1930', 'rating': '6.9', 'rating_count': 98.0, 'duration': 10, 'release_date': ' February 1930 (UK)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 10, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': '', 'Cyril Butcher': 1, 'Aileen Despard': 1}

 https://imdb.com/title/tt0020852/
57
{'title': 'Elstree Calling', 'year': '1930', 'rating': '5.3', 'rating_count': 344.0, 'duration': 86, 'release_date': ' 29 September 1930 (UK)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 86, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Claude Friese-Greene', 'Tommy Handley': 1, 'Gordon Begg': 1, 'Teddy Brown': 1, 'Helen Burnell': 1, 'Donald Calthrop': 1, 'The Charlot Girls': 1, 'Bobbie Comber': 1, 'Cicely Courtneidge': 1, 'Will Fyffe': 1, 'Lawrence Green': 1, 'Gordon Harker': 1, 'Jack Hulbert': 1, 'Hannah Jones': 1, 'John Longden': 1, 'Ivor McLaren': 1}

 https://imdb.com/title/tt0249159/
58
{'title': 'Sound Test for Blackmail', 'year': '1929', 'rating': '7.1', 'rating_count': 543.0, 'duration': 1, 'release_date': '', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 1, 'budget': None, 'tv_series': 0, 'documentary': 1, 'cinematographer': '', 'Alfred Hitchcock': 1, 'Anny Ondra': 1}

 https://imdb.com/title/tt0019702/
59
{'title': 'Blackmail', 'year': '1929', 'rating': '7.0', 'rating_count': 9618.0, 'duration': 85, 'release_date': ' 6 October 1929 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 85, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Jack E. Cox', 'Anny Ondra': 1, 'Sara Allgood': 1, 'Charles Paton': 1, 'John Longden': 1, 'Donald Calthrop': 1, 'Cyril Ritchard': 1, 'Hannah Jones': 1, 'Harvey Braban': 1, 'Ex-Det. Sergt. Bishop': 1}

 https://imdb.com/title/tt0020142/
60
{'title': 'The Manxman', 'year': '1929', 'rating': '6.2', 'rating_count': 2598.0, 'duration': 110, 'release_date': ' 16 December 1929 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 110, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Jack E. Cox', 'Carl Brisson': 1, 'Malcolm Keen': 1, 'Anny Ondra': 1, 'Randle Ayrton': 1, 'Clare Greet': 1}

 https://imdb.com/title/tt0018756/

61
{'title': 'Champagne', 'year': '1928', 'rating': '5.6', 'rating_count': 2021.0, 'duration': 86, 'release_date': ' 20 August 1928 (UK)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 86, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Jack E. Cox', 'Betty Balfour': 1, 'Jean Bradin': 1, 'Ferdinand von Alten': 1, 'Gordon Harker': 1}

 https://imdb.com/title/tt0018876/
62
{'title': "The Farmer's Wife", 'year': '1928', 'rating': '5.9', 'rating_count': 2491.0, 'duration': 129, 'release_date': ' 4 January 1930 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 112, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Jack E. Cox', 'Jameson Thomas': 1, 'Lillian Hall-Davis': 1, 'Gordon Harker': 1, 'Gibb McLaughlin': 1, 'Maud Gill': 1, 'Louie Pounds': 1, 'Olga Slade': 1, 'Ruth Maitland': 1, 'Antonia Brough': 1, 'Haward Watts': 1, 'Diana Napier': 1}

 https://imdb.com/title/tt0018328/
63
{'title': 'The Ring', 'year': '1927', 'rating': '6.2', 'rating_count': 3152.0, 'duration': 89, 'release_date': ' 1 October 1927 (UK)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 116, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Jack E. Cox', 'Carl Brisson': 1, 'Lillian Hall-Davis': 1, 'Ian Hunter': 1, 'Forrester Harvey': 1, 'Harry Terry': 1, 'Gordon Harker': 1}

 https://imdb.com/title/tt0017843/
64
{'title': 'Easy Virtue', 'year': '1927', 'rating': '5.7', 'rating_count': 2519.0, 'duration': 80, 'release_date': ' June 1928 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 80, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Claude L. McDonnell', 'Isabel Jeans': 1, 'Franklin Dyall': 1, 'Eric Bransby Williams': 1, 'Ian Hunter': 1, 'Robin Irvine': 1, 'Violet Farebrother': 1, 'Frank Elliott': 1, 'Dacia Deane': 1, 'Dorothy Boyd': 1, 'Enid Stamp-Taylor': 1}

 https://imdb.com/title/tt0017825/
65
{'title': 'When Boys Leave Home', 'year': '1927', 'rating': '6.1', 'rating_count': 2190.0, 'duration': 74, 'release_date': ' 1928 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 80, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Claude L. McDonnell', 'Ivor Novello': 1, 'Ben Webster': 1, 'Norman McKinnel': 1, 'Robin Irvine': 1, 'Jerrold Robertshaw': 1, 'Sybil Rhoda': 1, 'Annette Benson': 1, 'Lilian Braithwaite': 1, 'Isabel Jeans': 1, 'Ian Hunter': 1, 'Hannah Jones': 1, 'Barbara Gott': 1, 'Violet Farebrother': 1, 'Alf Goddard': 1}

 https://imdb.com/title/tt0017075/
66
{'title': 'The Lodger: A Story of the London Fog', 'year': '1927', 'rating': '7.3', 'rating_count': 10371.0, 'duration': 92, 'release_date': ' 14 February 1927 (UK)    ', 'metacritic_score': None, 'worldwide_gross': 83260, 'runtime': 92, 'budget': 12000, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Gaetano di Ventimiglia', 'Marie Ault': 1, 'Arthur Chesney': 1, 'June Tripp': 1, 'Malcolm Keen': 1, 'Ivor Novello': 1}

 https://imdb.com/title/tt0016127/
67
{'title': 'The Mountain Eagle', 'year': '1926', 'rating': None, 'rating_count': None, 'duration': 57, 'release_date': ' 1 November 1926 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': None, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Gaetano di Ventimiglia', 'Nita Naldi': 1, 'Malcolm Keen': 1, 'John Hamilton': 1, 'Bernhard Goetzke': 1}

 https://imdb.com/title/tt0016230/
68
{'title': 'The Pleasure Garden', 'year': '1925', 'rating': '6.0', 'rating_count': 2167.0, 'duration': 75, 'release_date': ' 1926 (USA)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 75, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Gaetano di Ventimiglia', 'Virginia Valli': 1, 'Carmelita Geraghty': 1, 'Miles Mander': 1, 'John Stuart': 1, 'Ferdinand Martini': 1, 'Florence Helminger': 1, 'Georg H. Schnell': 1, 'Karl Falkenberg': 1}

 https://imdb.com/title/tt0818899/
69
{'title': 'Always Tell Your Wife', 'year': '1923', 'rating': '7.7', 'rating_count': 115.0, 'duration': 20, 'release_date': ' February 1923 (UK)    ', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': 20, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': '', 'Seymour Hicks': 1, 'Stanley Logan': 1, 'Gertrude McCoy': 1, 'Ellaline Terriss': 1, 'Ian Wilson': 1}

 https://imdb.com/title/tt0013444/
70
{'title': 'Number 13', 'year': '1922', 'rating': None, 'rating_count': None, 'duration': None, 'release_date': '', 'metacritic_score': None, 'worldwide_gross': None, 'runtime': None, 'budget': None, 'tv_series': 0, 'documentary': 0, 'cinematographer': 'Joe Rosenthal', 'Clare Greet': 1, 'Ernest Thesiger': 1}

In [12]:
film_catalog['year'] = pd.to_numeric(film_catalog['year'])
film_catalog['rating'] = pd.to_numeric(film_catalog['rating'])
film_catalog['worldwide_gross'] = pd.to_numeric(film_catalog['worldwide_gross'])
film_catalog['budget'] = pd.to_numeric(film_catalog['budget'])
film_catalog['metacritic_score'] = pd.to_numeric(film_catalog['metacritic_score'])

In [13]:
first_cast_column = 13
main_column_names = list(film_catalog.columns[:first_cast_column])

# generate an new cast column headings to match the re-ordered cast columns
reordered_cast_members = list(film_catalog.iloc[:,first_cast_column:].pipe(lambda df: df.loc[:, df.sum().sort_values(ascending=False).index]).columns)
main_column_names.extend(reordered_cast_members) # append these to the column headings for the main features

In [14]:
# view the reordering of the cast columns according to how many movies they appear in
# film_catalog.iloc[:,first_cast_column:].pipe(lambda df: df.loc[:, df.sum().sort_values(ascending=False).index]).sum()

In [15]:
# make a new view of the catalog, first as a copy. 
# Then reorder the cast columns according to how many movies they appear in
film_catalog_cast_columns_reordered = film_catalog
film_catalog_cast_columns_reordered.iloc[:,first_cast_column:] = film_catalog.iloc[:,13:].pipe(lambda df: df.loc[:, df.sum().sort_values(ascending=False).index])
film_catalog_cast_columns_reordered.columns = main_column_names # assign the new combined set of column names

In [16]:
# Check the most prevalent actors
film_catalog_cast_columns_reordered.iloc[:,first_cast_column:].sum().head(50)

Leo G. Carroll         6.0
John Longden           5.0
Edmund Gwenn           4.0
Gordon Harker          4.0
James Stewart          4.0
Hannah Jones           4.0
Donald Calthrop        4.0
Cary Grant             4.0
Edward Chapman         3.0
Basil Radford          3.0
George Curzon          3.0
Leslie Banks           3.0
Anny Ondra             3.0
Alfred Hitchcock       3.0
Grace Kelly            3.0
Malcolm Keen           3.0
Ian Hunter             3.0
Clare Greet            3.0
Patricia Hitchcock     3.0
Isabel Jeans           3.0
Ingrid Bergman         3.0
Percy Marmont          3.0
Herbert Marshall       2.0
Edith Evanson          2.0
Madeleine Carroll      2.0
George Sanders         2.0
Tippi Hedren           2.0
Charles Halton         2.0
John Williams          2.0
Carl Brisson           2.0
Cedric Hardwicke       2.0
Mary Clare             2.0
John Stuart            2.0
Cecil Parker           2.0
Joseph Cotten          2.0
Gregory Peck           2.0
Sara Allgood           2.0
Edward Binns           2.0
Vera Miles             2.0
Peter Lorre            2.0
Michael Wilding        2.0
Miles Mander           2.0
Robert Cummings        2.0
Edward Fielding        2.0
R.E. Jeffrey           2.0
Phyllis Konstam        2.0
Jessie Royce Landis    2.0
Farley Granger         2.0
Harold J. Stone        2.0
Mort Mills             2.0
dtype: float64

In [17]:
# check the lay of the land
film_catalog_cast_columns_reordered.iloc[:,:].tail(35)

,title,year,rating,rating_count,duration,release_date,metacritic_score,worldwide_gross,runtime,budget,...,Brigitte Auber,Georgette Anys,Sara Berner,Wendell Corey,Thelma Ritter,Raymond Burr,Judith Evelyn,Ross Bagdasarian,Georgine Darcy,Ernest Thesiger
36,Suspicion,1941.0,7.4,32705.0,99.0,14 November 1941 (USA),83.0,NaN,99.0,1103000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Mr. & Mrs. Smith,1941.0,6.4,9321.0,95.0,31 January 1941 (USA),NaN,NaN,95.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Foreign Correspondent,1940.0,7.5,18433.0,NaN,16 August 1940 (USA),88.0,623.0,120.0,1500000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Rebecca,1940.0,8.1,123608.0,130.0,12 April 1940 (USA),86.0,72275.0,130.0,1288000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,The House Across the Bay,1940.0,6.5,437.0,88.0,1 March 1940 (USA),NaN,NaN,88.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Jamaica Inn,1939.0,6.4,9109.0,98.0,13 October 1939 (USA),NaN,NaN,108.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,The Lady Vanishes,1938.0,7.8,47282.0,96.0,1 November 1938 (USA),NaN,39776.0,96.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Young and Innocent,1937.0,6.9,8626.0,83.0,23 November 1939 (Sweden),NaN,NaN,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Sabotage,1936.0,7.0,14926.0,76.0,11 January 1937 (USA),85.0,NaN,76.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Secret Agent,1936.0,6.5,7759.0,86.0,15 June 1936 (USA),NaN,NaN,86.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,The 39 Steps,1935.0,7.6,51717.0,86.0,1 August 1935 (USA),93.0,51711.0,86.0,50000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Sanders of the River,1935.0,5.5,517.0,85.0,26 June 1935 (USA),NaN,NaN,98.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,The Man Who Knew Too Much,1934.0,6.8,16966.0,75.0,15 April 1935 (USA),NaN,NaN,75.0,40000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Strauss' Great Waltz,1934.0,6.0,1283.0,80.0,7 April 1935 (USA),NaN,NaN,81.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Number 17,1932.0,5.8,4422.0,66.0,7 November 1932 (UK),NaN,NaN,66.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,East of Shanghai,1931.0,5.8,3968.0,83.0,13 June 1932 (UK),NaN,NaN,110.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Mary,1931.0,6.1,678.0,78.0,2 March 1931 (Germany),NaN,NaN,78.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,The Skin Game,1931.0,5.8,2871.0,85.0,20 June 1931 (USA),NaN,NaN,85.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Murder!,1930.0,6.4,5773.0,92.0,24 November 1930 (USA),NaN,NaN,104.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Juno and the Paycock,1930.0,4.8,2064.0,85.0,22 September 1930 (UK),NaN,NaN,85.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,An Elastic Affair,1930.0,6.9,98.0,10.0,February 1930 (UK),NaN,NaN,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Elstree Calling,1930.0,5.3,344.0,86.0,29 September 1930 (UK),NaN,NaN,86.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Sound Test for Blackmail,1929.0,7.1,543.0,1.0,,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Blackmail,1929.0,7.0,9618.0,85.0,6 October 1929 (USA),NaN,NaN,85.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,The Manxman,1929.0,6.2,2598.0,110.0,16 December 1929 (USA),NaN,NaN,110.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Champagne,1928.0,5.6,2021.0,86.0,20 August 1928 (UK),NaN,NaN,86.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,The Farmer's Wife,1928.0,5.9,2491.0,129.0,4 January 1930 (USA),NaN,NaN,112.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,The Ring,1927.0,6.2,3152.0,89.0,1 October 1927 (UK),NaN,NaN,116.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Easy Virtue,1927.0,5.7,2519.0,80.0,June 1928 (USA),NaN,NaN,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,When Boys Leave Home,1927.0,6.1,2190.0,74.0,1928 (USA),NaN,NaN,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,The Lodger: A Story of the London Fog,1927.0,7.3,10371.0,92.0,14 February 1927 (UK),NaN,83260.0,92.0,12000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,The Mountain Eagle,1926.0,NaN,NaN,57.0,1 November 1926 (USA),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,The Pleasure Garden,1925.0,6.0,2167.0,75.0,1926 (USA),NaN,NaN,75.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Always Tell Your Wife,1923.0,7.7,115.0,20.0,February 1923 (UK),NaN,NaN,20.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Number 13,1922.0,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [18]:
film_catalog_cast_columns_reordered.shape

(71, 646)

In [19]:
film_catalog.iloc[:, :13].tail(30)

,title,year,rating,rating_count,duration,release_date,metacritic_score,worldwide_gross,runtime,budget,tv_series,documentary,cinematographer
41,Jamaica Inn,1939.0,6.4,9109.0,98.0,13 October 1939 (USA),NaN,NaN,108.0,NaN,0,0,Bernard Knowles
42,The Lady Vanishes,1938.0,7.8,47282.0,96.0,1 November 1938 (USA),NaN,39776.0,96.0,NaN,0,0,Jack E. Cox
43,Young and Innocent,1937.0,6.9,8626.0,83.0,23 November 1939 (Sweden),NaN,NaN,80.0,NaN,0,0,Bernard Knowles
44,Sabotage,1936.0,7.0,14926.0,76.0,11 January 1937 (USA),85.0,NaN,76.0,NaN,0,0,Bernard Knowles
45,Secret Agent,1936.0,6.5,7759.0,86.0,15 June 1936 (USA),NaN,NaN,86.0,NaN,0,0,Bernard Knowles
46,The 39 Steps,1935.0,7.6,51717.0,86.0,1 August 1935 (USA),93.0,51711.0,86.0,50000.0,0,0,Bernard Knowles
47,Sanders of the River,1935.0,5.5,517.0,85.0,26 June 1935 (USA),NaN,NaN,98.0,NaN,0,0,Osmond Borradaile
48,The Man Who Knew Too Much,1934.0,6.8,16966.0,75.0,15 April 1935 (USA),NaN,NaN,75.0,40000.0,0,0,Curt Courant
49,Strauss' Great Waltz,1934.0,6.0,1283.0,80.0,7 April 1935 (USA),NaN,NaN,81.0,NaN,0,0,Glen MacWilliams
50,Number 17,1932.0,5.8,4422.0,66.0,7 November 1932 (UK),NaN,NaN,66.0,NaN,0,0,Jack E. Cox
51,East of Shanghai,1931.0,5.8,3968.0,83.0,13 June 1932 (UK),NaN,NaN,110.0,NaN,0,0,Jack E. Cox
52,Mary,1931.0,6.1,678.0,78.0,2 March 1931 (Germany),NaN,NaN,78.0,NaN,0,0,Jack E. Cox
53,The Skin Game,1931.0,5.8,2871.0,85.0,20 June 1931 (USA),NaN,NaN,85.0,NaN,0,0,Jack E. Cox
54,Murder!,1930.0,6.4,5773.0,92.0,24 November 1930 (USA),NaN,NaN,104.0,NaN,0,0,Jack E. Cox
55,Juno and the Paycock,1930.0,4.8,2064.0,85.0,22 September 1930 (UK),NaN,NaN,85.0,NaN,0,0,Jack E. Cox
56,An Elastic Affair,1930.0,6.9,98.0,10.0,February 1930 (UK),NaN,NaN,10.0,NaN,0,0,
57,Elstree Calling,1930.0,5.3,344.0,86.0,29 September 1930 (UK),NaN,NaN,86.0,NaN,0,0,Claude Friese-Greene
58,Sound Test for Blackmail,1929.0,7.1,543.0,1.0,,NaN,NaN,1.0,NaN,0,1,
59,Blackmail,1929.0,7.0,9618.0,85.0,6 October 1929 (USA),NaN,NaN,85.0,NaN,0,0,Jack E. Cox
60,The Manxman,1929.0,6.2,2598.0,110.0,16 December 1929 (USA),NaN,NaN,110.0,NaN,0,0,Jack E. Cox
61,Champagne,1928.0,5.6,2021.0,86.0,20 August 1928 (UK),NaN,NaN,86.0,NaN,0,0,Jack E. Cox
62,The Farmer's Wife,1928.0,5.9,2491.0,129.0,4 January 1930 (USA),NaN,NaN,112.0,NaN,0,0,Jack E. Cox
63,The Ring,1927.0,6.2,3152.0,89.0,1 October 1927 (UK),NaN,NaN,116.0,NaN,0,0,Jack E. Cox
64,Easy Virtue,1927.0,5.7,2519.0,80.0,June 1928 (USA),NaN,NaN,80.0,NaN,0,0,Claude L. McDonnell
65,When Boys Leave Home,1927.0,6.1,2190.0,74.0,1928 (USA),NaN,NaN,80.0,NaN,0,0,Claude L. McDonnell
66,The Lodger: A Story of the London Fog,1927.0,7.3,10371.0,92.0,14 February 1927 (UK),NaN,83260.0,92.0,12000.0,0,0,Gaetano di Ventimiglia
67,The Mountain Eagle,1926.0,NaN,NaN,57.0,1 November 1926 (USA),NaN,NaN,NaN,NaN,0,0,Gaetano di Ventimiglia
68,The Pleasure Garden,1925.0,6.0,2167.0,75.0,1926 (USA),NaN,NaN,75.0,NaN,0,0,Gaetano di Ventimiglia
69,Always Tell Your Wife,1923.0,7.7,115.0,20.0,February 1923 (UK),NaN,NaN,20.0,NaN,0,0,
70,Number 13,1922.0,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,0,0,Joe Rosenthal

In [20]:
with open('film_catalog.pickle', 'wb') as to_write:
    pickle.dump(film_catalog, to_write)

In [21]:
def get_box_office( the_box_office_url):
    response = requests.get(the_box_office_url)
    print( response.status_code )
    box_office_page = response.text
    box_office_soup = BeautifulSoup(box_office_page, "lxml")
    
    box_office_chart = box_office_soup.find('div', id='technical').find('div', id='page_filling_chart')
    box_office_chart_body = box_office_chart.find('table', id='all_technical_credits').find('tbody')
    box_office_chart_body
    box_office_rows = box_office_chart_body.find_all('tr')

    flix_box_office = []
    for row in box_office_rows:
        try:
            title_data = row.find('td').find_next_sibling('td')
            title=(title_data.find('a').text).strip()
        except:
            title=''
        try:
            worldwide_box_office = title_data.find_next_sibling('td').find_next_sibling().find_next_sibling().find_next_sibling().text   
            worldwide_box_office = int( re.sub("[^0-9]", "", worldwide_box_office ))
            flix_box_office.append({'title': title, 'worldwide_gross_bo': float(worldwide_box_office)})
        except:
            flix_box_office.append({'title': title, 'worldwide_gross_bo':''})
    return(pd.DataFrame(flix_box_office))

In [22]:
box_office_df = get_box_office(dirs_box_office[director])

200

In [23]:
with open('box_office_df.pickle', 'wb') as to_write:
    pickle.dump(box_office_df, to_write)

In [24]:
films_df = pd.merge(film_catalog_cast_columns_reordered, box_office_df, how='outer', left_on='title', right_on='title')

In [25]:
films_df.head(50)

,title,year,rating,rating_count,duration,release_date,metacritic_score,worldwide_gross,runtime,budget,...,Georgette Anys,Sara Berner,Wendell Corey,Thelma Ritter,Raymond Burr,Judith Evelyn,Ross Bagdasarian,Georgine Darcy,Ernest Thesiger,box_office
0,Kaleidoscope,1967.0,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Memory of the Camps,2014.0,8.3,480.0,70.0,26 July 2015 (USA),NaN,4468.0,70.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Family Plot,1976.0,6.8,20765.0,NaN,9 April 1976 (USA),79.0,NaN,120.0,4490375.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13200000.0
3,Frenzy,1972.0,7.4,41391.0,116.0,21 June 1972 (USA),92.0,4121.0,116.0,2000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12600000.0
4,Topaz,1969.0,6.3,16705.0,143.0,19 December 1969 (USA),NaN,NaN,143.0,4000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000000.0
5,Torn Curtain,1966.0,6.7,24717.0,128.0,27 July 1966 (USA),55.0,NaN,128.0,6000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13000000.0
6,Marnie,1964.0,7.2,45189.0,130.0,17 July 1964 (USA),73.0,7095.0,130.0,3000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7008058.0
7,The Birds,1963.0,7.7,171423.0,119.0,29 March 1963 (USA),90.0,32655.0,119.0,2500000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11436184.0
8,The Alfred Hitchcock Hour,NaN,8.5,3876.0,50.0,20 September 1962 (USA),NaN,NaN,50.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Alfred Hitchcock Presents,NaN,8.5,14754.0,25.0,2 October 1955 (USA),NaN,NaN,25.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Psycho,1960.0,8.5,602642.0,109.0,8 September 1960 (USA),97.0,32040242.0,109.0,806947.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32000000.0
11,Startime,NaN,5.6,127.0,NaN,6 October 1959 (USA),NaN,NaN,60.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,North by Northwest,1959.0,8.3,298465.0,136.0,18 December 1959 (USA),98.0,73695.0,136.0,3101000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13369740.0
13,Vertigo,1958.0,8.3,363389.0,128.0,22 May 1958 (UK),100.0,7797300.0,128.0,2479000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3293831.0
14,Suspicion,NaN,8.4,320.0,NaN,30 September 1957 (USA),NaN,NaN,60.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4500000.0
15,Suspicion,1941.0,7.4,32705.0,99.0,14 November 1941 (USA),83.0,NaN,99.0,1103000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4500000.0
16,The Wrong Man,1956.0,7.4,25627.0,105.0,26 January 1957 (USA),NaN,NaN,105.0,1200000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000000.0
17,The Man Who Knew Too Much,1956.0,7.4,58413.0,NaN,1 June 1956 (USA),78.0,8190.0,120.0,2500000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11333333.0
18,The Man Who Knew Too Much,1934.0,6.8,16966.0,75.0,15 April 1935 (USA),NaN,NaN,75.0,40000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11333333.0
19,The Trouble with Harry,1955.0,7.1,33710.0,99.0,3 October 1955 (USA),74.0,NaN,99.0,1200000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7000000.0
20,To Catch a Thief,1955.0,7.4,65028.0,106.0,5 August 1955 (USA),NaN,826.0,106.0,2500000.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8750464.0
21,Rear Window,1954.0,8.4,442989.0,112.0,September 1954 (USA),100.0,37034514.0,112.0,1000000.0,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,27590734.0
22,Dial M for Murder,1954.0,8.2,157825.0,105.0,29 May 1954 (USA),75.0,18816.0,105.0,1400000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000000.0
23,I Confess,1953.0,7.3,19065.0,95.0,28 February 1953 (USA),NaN,NaN,95.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
24,Strangers on a Train,1951.0,7.9,123135.0,101.0,30 June 1951 (USA),88.0,534.0,101.0,1200000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7020502.0
25,Stage Fright,1950.0,7.1,12764.0,110.0,15 April 1950 (USA),NaN,47.0,110.0,1437000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Under Capricorn,1949.0,6.2,6430.0,117.0,8 October 1949 (USA),NaN,NaN,117.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
27,Rope,1948.0,8.0,129451.0,80.0,25 September 1948 (USA),73.0,10433.0,80.0,1500000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388.0
28,The Paradine Case,1947.0,6.6,10106.0,125.0,13 July 1948 (USA),NaN,6789.0,125.0,4258000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
29,Notorious,1946.0,7.9,92121.0,102.0,6 September 1946 (USA),100.0,113061.0,102.0,2000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24492698.0
30,Spellbound,1945.0,7.6,43389.0,111.0,28 December 1945 (USA),NaN,19000.0,111.0,1696377.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7000000.0
31,Watchtower Over Tomorrow,1945.0,6.5,213.0,15.0,29 March 1945 (USA),NaN,NaN,15.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,The Fighting Generation,1944.0,5.9,213.0,2.0,October 1944 (USA),NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Aventure malgache,1944.0,5.5,1446.0,32.0,June 1944 (Portugal),NaN,NaN,32.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Bon Voyage,1944.0,6.2,1653.0,26.0,June 1944 (Portugal),NaN,NaN,26.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Lifeboat,1944.0,7.6,26405.0,97.0,28 January 1944 (USA),78.0,NaN,97.0,1590000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
36,Shadow of a Doubt,1943.0,7.8,59434.0,108.0,15 January 1943 (USA),94.0,159.0,108.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160.0
37,Saboteur,1942.0,7.2,23376.0,109.0,24 April 1942 (USA),64.0,NaN,109.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Mr. & Mrs. Smith,1941.0,6.4,9321.0,95.0,31 January 1941 (USA),NaN,NaN,95.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Foreign Correspondent,1940.0,7.5,18433.0,NaN,16 August 1940 (USA),88.0,623.0,120.0,1500000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,549.0
40,Rebecca,1940.0,8.1,123608.0,130.0,12 April 1940 (USA),86.0,72275.0,130.0,1288000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6002370.0
41,The House Across the Bay,1940.0,6.5,437.0,88.0,1 March 1940 (USA),NaN,NaN,88.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Jamaica Inn,1939.0,6.4,9109.0,98.0,13 October 1939 (USA),NaN,NaN,108.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
43,The Lady Vanishes,1938.0,7.8,47282.0,96.0,1 November 1938 (USA),NaN,39776.0,96.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Young and Innocent,1937.0,6.9,8626.0,83.0,23 November 1939 (Sweden),NaN,NaN,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Sabotage,1936.0,7.0,14926.0,76.0,11 January 1937 (USA),85.0,NaN,76.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Secret Agent,1936.0,6.5,7759.0,86.0,15 June 1936 (USA),NaN,NaN,86.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,The 39 Steps,1935.0,7.6,51717.0,86.0,1 August 1935 (USA),93.0,51711.0,86.0,50000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Sanders of the River,1935.0,5.5,517.0,85.0,26 June 1935 (USA),NaN,NaN,98.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Strauss' Great Waltz,1934.0,6.0,1283.0,80.0,7 April 1935 (USA),NaN,NaN,81.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
#films_df.columns[-1]

In [27]:
#films_df.insert(first_cast_column, '_box_office', films_df.iloc[:,-1], allow_duplicates=True)

In [28]:
films_df.head()

,title,year,rating,rating_count,duration,release_date,metacritic_score,worldwide_gross,runtime,budget,...,Georgette Anys,Sara Berner,Wendell Corey,Thelma Ritter,Raymond Burr,Judith Evelyn,Ross Bagdasarian,Georgine Darcy,Ernest Thesiger,box_office
0,Kaleidoscope,1967.0,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Memory of the Camps,2014.0,8.3,480.0,70.0,26 July 2015 (USA),NaN,4468.0,70.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Family Plot,1976.0,6.8,20765.0,NaN,9 April 1976 (USA),79.0,NaN,120.0,4490375.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13200000.0
3,Frenzy,1972.0,7.4,41391.0,116.0,21 June 1972 (USA),92.0,4121.0,116.0,2000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12600000.0
4,Topaz,1969.0,6.3,16705.0,143.0,19 December 1969 (USA),NaN,NaN,143.0,4000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000000.0

In [29]:
main_column_names_rearranged = ['title', 'year', 'release_date', 'duration', 'runtime', 'budget', 'worldwide_gross_imdb', 'worldwide_gross_bo', 'rating', 'metacritic_score', 'rating_count', 'tv_series']
cast_column_names= films_df.columns[first_cast_column:-1]

In [30]:
films_df_reordered=films_df[[*main_column_names_rearranged, *cast_column_names] ]

In [31]:
films_df_reordered.head(30)

,title,year,release_date,duration,runtime,budget,worldwide_gross,box_office,rating,metacritic_score,...,Brigitte Auber,Georgette Anys,Sara Berner,Wendell Corey,Thelma Ritter,Raymond Burr,Judith Evelyn,Ross Bagdasarian,Georgine Darcy,Ernest Thesiger
0,Kaleidoscope,1967.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Memory of the Camps,2014.0,26 July 2015 (USA),70.0,70.0,NaN,4468.0,NaN,8.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Family Plot,1976.0,9 April 1976 (USA),NaN,120.0,4490375.0,NaN,13200000.0,6.8,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Frenzy,1972.0,21 June 1972 (USA),116.0,116.0,2000000.0,4121.0,12600000.0,7.4,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Topaz,1969.0,19 December 1969 (USA),143.0,143.0,4000000.0,NaN,6000000.0,6.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Torn Curtain,1966.0,27 July 1966 (USA),128.0,128.0,6000000.0,NaN,13000000.0,6.7,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Marnie,1964.0,17 July 1964 (USA),130.0,130.0,3000000.0,7095.0,7008058.0,7.2,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,The Birds,1963.0,29 March 1963 (USA),119.0,119.0,2500000.0,32655.0,11436184.0,7.7,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,The Alfred Hitchcock Hour,NaN,20 September 1962 (USA),50.0,50.0,NaN,NaN,NaN,8.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Alfred Hitchcock Presents,NaN,2 October 1955 (USA),25.0,25.0,NaN,NaN,NaN,8.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Psycho,1960.0,8 September 1960 (USA),109.0,109.0,806947.0,32040242.0,32000000.0,8.5,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Startime,NaN,6 October 1959 (USA),NaN,60.0,NaN,NaN,NaN,5.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,North by Northwest,1959.0,18 December 1959 (USA),136.0,136.0,3101000.0,73695.0,13369740.0,8.3,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Vertigo,1958.0,22 May 1958 (UK),128.0,128.0,2479000.0,7797300.0,3293831.0,8.3,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Suspicion,NaN,30 September 1957 (USA),NaN,60.0,NaN,NaN,4500000.0,8.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Suspicion,1941.0,14 November 1941 (USA),99.0,99.0,1103000.0,NaN,4500000.0,7.4,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,The Wrong Man,1956.0,26 January 1957 (USA),105.0,105.0,1200000.0,NaN,2000000.0,7.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,The Man Who Knew Too Much,1956.0,1 June 1956 (USA),NaN,120.0,2500000.0,8190.0,11333333.0,7.4,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,The Man Who Knew Too Much,1934.0,15 April 1935 (USA),75.0,75.0,40000.0,NaN,11333333.0,6.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,The Trouble with Harry,1955.0,3 October 1955 (USA),99.0,99.0,1200000.0,NaN,7000000.0,7.1,74.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,To Catch a Thief,1955.0,5 August 1955 (USA),106.0,106.0,2500000.0,826.0,8750464.0,7.4,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Rear Window,1954.0,September 1954 (USA),112.0,112.0,1000000.0,37034514.0,27590734.0,8.4,100.0,...,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
22,Dial M for Murder,1954.0,29 May 1954 (USA),105.0,105.0,1400000.0,18816.0,6000000.0,8.2,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,I Confess,1953.0,28 February 1953 (USA),95.0,95.0,NaN,NaN,,7.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Strangers on a Train,1951.0,30 June 1951 (USA),101.0,101.0,1200000.0,534.0,7020502.0,7.9,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Stage Fright,1950.0,15 April 1950 (USA),110.0,110.0,1437000.0,47.0,NaN,7.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Under Capricorn,1949.0,8 October 1949 (USA),117.0,117.0,NaN,NaN,,6.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Rope,1948.0,25 September 1948 (USA),80.0,80.0,1500000.0,10433.0,388.0,8.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,The Paradine Case,1947.0,13 July 1948 (USA),125.0,125.0,4258000.0,6789.0,,6.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Notorious,1946.0,6 September 1946 (USA),102.0,102.0,2000000.0,113061.0,24492698.0,7.9,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
films_df_reordered.shape

(73, 645)

,title,year,release_date,duration,runtime,budget,worldwide_gross,box_office,rating,metacritic_score,...,Brigitte Auber,Georgette Anys,Sara Berner,Wendell Corey,Thelma Ritter,Raymond Burr,Judith Evelyn,Ross Bagdasarian,Georgine Darcy,Ernest Thesiger
0,Kaleidoscope,1967.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Memory of the Camps,2014.0,26 July 2015 (USA),70.0,70.0,NaN,4468.0,NaN,8.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Family Plot,1976.0,9 April 1976 (USA),NaN,120.0,4490375.0,NaN,13200000.0,6.8,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Frenzy,1972.0,21 June 1972 (USA),116.0,116.0,2000000.0,4121.0,12600000.0,7.4,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Topaz,1969.0,19 December 1969 (USA),143.0,143.0,4000000.0,NaN,6000000.0,6.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,The Pleasure Garden,1925.0,1926 (USA),75.0,75.0,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Always Tell Your Wife,1923.0,February 1923 (UK),20.0,20.0,NaN,NaN,NaN,7.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Number 13,1922.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
71,The Lodger,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Once You Meet a Stranger,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Clean up the `year` column

In [94]:
films_df_reordered['release_date'].fillna('', inplace=True)

In [95]:
films_df_reordered

,title,year,release_date,duration,runtime,budget,worldwide_gross,box_office,rating,metacritic_score,...,Brigitte Auber,Georgette Anys,Sara Berner,Wendell Corey,Thelma Ritter,Raymond Burr,Judith Evelyn,Ross Bagdasarian,Georgine Darcy,Ernest Thesiger
0,Kaleidoscope,1967.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Memory of the Camps,2014.0,26 July 2015 (USA),70.0,70.0,NaN,4468.0,NaN,8.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Family Plot,1976.0,9 April 1976 (USA),NaN,120.0,4490375.0,NaN,13200000.0,6.8,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Frenzy,1972.0,21 June 1972 (USA),116.0,116.0,2000000.0,4121.0,12600000.0,7.4,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Topaz,1969.0,19 December 1969 (USA),143.0,143.0,4000000.0,NaN,6000000.0,6.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Always Tell Your Wife,1923.0,February 1923 (UK),20.0,20.0,NaN,NaN,NaN,7.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Number 13,1922.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
71,The Lodger,NaN,,NaN,NaN,NaN,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Once You Meet a Stranger,NaN,,NaN,NaN,NaN,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
release_date,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
# use the release_date column where possible to set missing values in the year column
films_df_reordered['year']=films_df_reordered.apply(lambda row: float((re.search(r'\d{4}', row['release_date'])).group()) if (np.isnan(row['year']) & (row['release_date']!='') & (row['release_date']!='NaN') ) else row['year'], axis=1)

<ipython-input-97-8433349d7272>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films_df_reordered['year']=films_df_reordered.apply(lambda row: float((re.search(r'\d{4}', row['release_date'])).group()) if (np.isnan(row['year']) & (row['release_date']!='') & (row['release_date']!='NaN') ) else row['year'], axis=1)

In [99]:
films_df_reordered.tail(50)

,title,year,release_date,duration,runtime,budget,worldwide_gross,box_office,rating,metacritic_score,...,Brigitte Auber,Georgette Anys,Sara Berner,Wendell Corey,Thelma Ritter,Raymond Burr,Judith Evelyn,Ross Bagdasarian,Georgine Darcy,Ernest Thesiger
24,Strangers on a Train,1951.0,30 June 1951 (USA),101.0,101.0,1200000.0,534.0,7020502.0,7.9,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Stage Fright,1950.0,15 April 1950 (USA),110.0,110.0,1437000.0,47.0,NaN,7.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Under Capricorn,1949.0,8 October 1949 (USA),117.0,117.0,NaN,NaN,,6.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Rope,1948.0,25 September 1948 (USA),80.0,80.0,1500000.0,10433.0,388.0,8.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,The Paradine Case,1947.0,13 July 1948 (USA),125.0,125.0,4258000.0,6789.0,,6.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Notorious,1946.0,6 September 1946 (USA),102.0,102.0,2000000.0,113061.0,24492698.0,7.9,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Spellbound,1945.0,28 December 1945 (USA),111.0,111.0,1696377.0,19000.0,7000000.0,7.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Watchtower Over Tomorrow,1945.0,29 March 1945 (USA),15.0,15.0,NaN,NaN,NaN,6.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,The Fighting Generation,1944.0,October 1944 (USA),2.0,2.0,NaN,NaN,NaN,5.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Aventure malgache,1944.0,June 1944 (Portugal),32.0,32.0,NaN,NaN,NaN,5.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Bon Voyage,1944.0,June 1944 (Portugal),26.0,26.0,NaN,NaN,NaN,6.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Lifeboat,1944.0,28 January 1944 (USA),97.0,97.0,1590000.0,NaN,,7.6,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Shadow of a Doubt,1943.0,15 January 1943 (USA),108.0,108.0,NaN,159.0,160.0,7.8,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Saboteur,1942.0,24 April 1942 (USA),109.0,109.0,NaN,NaN,NaN,7.2,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Mr. & Mrs. Smith,1941.0,31 January 1941 (USA),95.0,95.0,NaN,NaN,NaN,6.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Foreign Correspondent,1940.0,16 August 1940 (USA),NaN,120.0,1500000.0,623.0,549.0,7.5,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Rebecca,1940.0,12 April 1940 (USA),130.0,130.0,1288000.0,72275.0,6002370.0,8.1,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,The House Across the Bay,1940.0,1 March 1940 (USA),88.0,88.0,NaN,NaN,NaN,6.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Jamaica Inn,1939.0,13 October 1939 (USA),98.0,108.0,NaN,NaN,,6.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,The Lady Vanishes,1938.0,1 November 1938 (USA),96.0,96.0,NaN,39776.0,NaN,7.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Young and Innocent,1937.0,23 November 1939 (Sweden),83.0,80.0,NaN,NaN,NaN,6.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Sabotage,1936.0,11 January 1937 (USA),76.0,76.0,NaN,NaN,NaN,7.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Secret Agent,1936.0,15 June 1936 (USA),86.0,86.0,NaN,NaN,NaN,6.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,The 39 Steps,1935.0,1 August 1935 (USA),86.0,86.0,50000.0,51711.0,NaN,7.6,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Sanders of the River,1935.0,26 June 1935 (USA),85.0,98.0,NaN,NaN,NaN,5.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Strauss' Great Waltz,1934.0,7 April 1935 (USA),80.0,81.0,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Number 17,1932.0,7 November 1932 (UK),66.0,66.0,NaN,NaN,NaN,5.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,East of Shanghai,1931.0,13 June 1932 (UK),83.0,110.0,NaN,NaN,NaN,5.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Mary,1931.0,2 March 1931 (Germany),78.0,78.0,NaN,NaN,NaN,6.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,The Skin Game,1931.0,20 June 1931 (USA),85.0,85.0,NaN,NaN,NaN,5.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Murder!,1930.0,24 November 1930 (USA),92.0,104.0,NaN,NaN,,6.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Juno and the Paycock,1930.0,22 September 1930 (UK),85.0,85.0,NaN,NaN,NaN,4.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,An Elastic Affair,1930.0,February 1930 (UK),10.0,10.0,NaN,NaN,NaN,6.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Elstree Calling,1930.0,29 September 1930 (UK),86.0,86.0,NaN,NaN,NaN,5.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Sound Test for Blackmail,1929.0,,1.0,1.0,NaN,NaN,NaN,7.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Blackmail,1929.0,6 October 1929 (USA),85.0,85.0,NaN,NaN,,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,The Manxman,1929.0,16 December 1929 (USA),110.0,110.0,NaN,NaN,NaN,6.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Champagne,1928.0,20 August 1928 (UK),86.0,86.0,NaN,NaN,NaN,5.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,The Farmer's Wife,1928.0,4 January 1930 (USA),129.0,112.0,NaN,NaN,NaN,5.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,The Ring,1927.0,1 October 1927 (UK),89.0,116.0,NaN,NaN,NaN,6.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Easy Virtue,1927.0,June 1928 (USA),80.0,80.0,NaN,NaN,NaN,5.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,When Boys Leave Home,1927.0,1928 (USA),74.0,80.0,NaN,NaN,NaN,6.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,The Lodger: A Story of the London Fog,1927.0,14 February 1927 (UK),92.0,92.0,12000.0,83260.0,NaN,7.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,The Mountain Eagle,1926.0,1 November 1926 (USA),57.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,The Pleasure Garden,1925.0,1926 (USA),75.0,75.0,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Always Tell Your Wife,1923.0,February 1923 (UK),20.0,20.0,NaN,NaN,NaN,7.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Number 13,1922.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
71,The Lodger,NaN,,NaN,NaN,NaN,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Once You Meet a Stranger,NaN,,NaN,NaN,NaN,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
release_date,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Clean up the `duration` column

In [101]:
films_df_reordered['duration']=films_df_reordered.apply(lambda row: row['runtime'] if (np.isnan(row['duration']) ) else row['duration'], axis=1)

<ipython-input-101-7296ce1a502d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films_df_reordered['duration']=films_df_reordered.apply(lambda row: row['runtime'] if (np.isnan(row['duration']) ) else row['duration'], axis=1)

#### Clean up the `bo_worldwide_gross` column

In [119]:
# these renamings are temporary
if('box_office' in films_df_reordered.columns):
    films_df_reordered.rename(columns={'box_office':'worldwide_gross_bo'}, inplace=True)
    films_df_reordered

In [116]:
# these renamings are temporary
if('worldwide_gross' in films_df_reordered.columns):
    films_df_reordered.rename(columns={'worldwide_gross':'worldwide_gross_imdb'}, inplace=True)

/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/frame.py:4438: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [117]:
films_df_reordered['worldwide_gross'] = films_df_reordered.apply(lambda row: row['worldwide_gross_bo'] if (pd.notna(row['worldwide_gross_bo']) ) else row['worldwide_gross_imdb'], axis=1)

<ipython-input-117-6022392e162d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films_df_reordered['worldwide_gross'] = films_df_reordered.apply(lambda row: row['worldwide_gross_bo'] if (pd.notna(row['worldwide_gross_bo']) ) else row['worldwide_gross_imdb'], axis=1)

In [118]:
films_df_reordered.head(50)

,title,year,release_date,duration,runtime,budget,worldwide_gross_imdb,worldwide_gross_bo,rating,metacritic_score,...,Georgette Anys,Sara Berner,Wendell Corey,Thelma Ritter,Raymond Burr,Judith Evelyn,Ross Bagdasarian,Georgine Darcy,Ernest Thesiger,worldwide_gross
0,Kaleidoscope,1967.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Memory of the Camps,2014.0,26 July 2015 (USA),70.0,70.0,NaN,4468.0,NaN,8.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4468.0
2,Family Plot,1976.0,9 April 1976 (USA),120.0,120.0,4490375.0,NaN,13200000.0,6.8,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13200000.0
3,Frenzy,1972.0,21 June 1972 (USA),116.0,116.0,2000000.0,4121.0,12600000.0,7.4,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12600000.0
4,Topaz,1969.0,19 December 1969 (USA),143.0,143.0,4000000.0,NaN,6000000.0,6.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000000.0
5,Torn Curtain,1966.0,27 July 1966 (USA),128.0,128.0,6000000.0,NaN,13000000.0,6.7,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13000000.0
6,Marnie,1964.0,17 July 1964 (USA),130.0,130.0,3000000.0,7095.0,7008058.0,7.2,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7008058.0
7,The Birds,1963.0,29 March 1963 (USA),119.0,119.0,2500000.0,32655.0,11436184.0,7.7,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11436184.0
8,The Alfred Hitchcock Hour,1962.0,20 September 1962 (USA),50.0,50.0,NaN,NaN,NaN,8.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Alfred Hitchcock Presents,1955.0,2 October 1955 (USA),25.0,25.0,NaN,NaN,NaN,8.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Psycho,1960.0,8 September 1960 (USA),109.0,109.0,806947.0,32040242.0,32000000.0,8.5,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32000000.0
11,Startime,1959.0,6 October 1959 (USA),60.0,60.0,NaN,NaN,NaN,5.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,North by Northwest,1959.0,18 December 1959 (USA),136.0,136.0,3101000.0,73695.0,13369740.0,8.3,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13369740.0
13,Vertigo,1958.0,22 May 1958 (UK),128.0,128.0,2479000.0,7797300.0,3293831.0,8.3,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3293831.0
14,Suspicion,1957.0,30 September 1957 (USA),60.0,60.0,NaN,NaN,4500000.0,8.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4500000.0
15,Suspicion,1941.0,14 November 1941 (USA),99.0,99.0,1103000.0,NaN,4500000.0,7.4,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4500000.0
16,The Wrong Man,1956.0,26 January 1957 (USA),105.0,105.0,1200000.0,NaN,2000000.0,7.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000000.0
17,The Man Who Knew Too Much,1956.0,1 June 1956 (USA),120.0,120.0,2500000.0,8190.0,11333333.0,7.4,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11333333.0
18,The Man Who Knew Too Much,1934.0,15 April 1935 (USA),75.0,75.0,40000.0,NaN,11333333.0,6.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11333333.0
19,The Trouble with Harry,1955.0,3 October 1955 (USA),99.0,99.0,1200000.0,NaN,7000000.0,7.1,74.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7000000.0
20,To Catch a Thief,1955.0,5 August 1955 (USA),106.0,106.0,2500000.0,826.0,8750464.0,7.4,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8750464.0
21,Rear Window,1954.0,September 1954 (USA),112.0,112.0,1000000.0,37034514.0,27590734.0,8.4,100.0,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,27590734.0
22,Dial M for Murder,1954.0,29 May 1954 (USA),105.0,105.0,1400000.0,18816.0,6000000.0,8.2,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000000.0
23,I Confess,1953.0,28 February 1953 (USA),95.0,95.0,NaN,NaN,,7.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
24,Strangers on a Train,1951.0,30 June 1951 (USA),101.0,101.0,1200000.0,534.0,7020502.0,7.9,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7020502.0
25,Stage Fright,1950.0,15 April 1950 (USA),110.0,110.0,1437000.0,47.0,NaN,7.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0
26,Under Capricorn,1949.0,8 October 1949 (USA),117.0,117.0,NaN,NaN,,6.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
27,Rope,1948.0,25 September 1948 (USA),80.0,80.0,1500000.0,10433.0,388.0,8.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388.0
28,The Paradine Case,1947.0,13 July 1948 (USA),125.0,125.0,4258000.0,6789.0,,6.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
29,Notorious,1946.0,6 September 1946 (USA),102.0,102.0,2000000.0,113061.0,24492698.0,7.9,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24492698.0
30,Spellbound,1945.0,28 December 1945 (USA),111.0,111.0,1696377.0,19000.0,7000000.0,7.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7000000.0
31,Watchtower Over Tomorrow,1945.0,29 March 1945 (USA),15.0,15.0,NaN,NaN,NaN,6.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,The Fighting Generation,1944.0,October 1944 (USA),2.0,2.0,NaN,NaN,NaN,5.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Aventure malgache,1944.0,June 1944 (Portugal),32.0,32.0,NaN,NaN,NaN,5.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Bon Voyage,1944.0,June 1944 (Portugal),26.0,26.0,NaN,NaN,NaN,6.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Lifeboat,1944.0,28 January 1944 (USA),97.0,97.0,1590000.0,NaN,,7.6,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
36,Shadow of a Doubt,1943.0,15 January 1943 (USA),108.0,108.0,NaN,159.0,160.0,7.8,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160.0
37,Saboteur,1942.0,24 April 1942 (USA),109.0,109.0,NaN,NaN,NaN,7.2,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Mr. & Mrs. Smith,1941.0,31 January 1941 (USA),95.0,95.0,NaN,NaN,NaN,6.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Foreign Correspondent,1940.0,16 August 1940 (USA),120.0,120.0,1500000.0,623.0,549.0,7.5,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,549.0
40,Rebecca,1940.0,12 April 1940 (USA),130.0,130.0,1288000.0,72275.0,6002370.0,8.1,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6002370.0
41,The House Across the Bay,1940.0,1 March 1940 (USA),88.0,88.0,NaN,NaN,NaN,6.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Jamaica Inn,1939.0,13 October 1939 (USA),98.0,108.0,NaN,NaN,,6.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
43,The Lady Vanishes,1938.0,1 November 1938 (USA),96.0,96.0,NaN,39776.0,NaN,7.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39776.0
44,Young and Innocent,1937.0,23 November 1939 (Sweden),83.0,80.0,NaN,NaN,NaN,6.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Sabotage,1936.0,11 January 1937 (USA),76.0,76.0,NaN,NaN,NaN,7.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Secret Agent,1936.0,15 June 1936 (USA),86.0,86.0,NaN,NaN,NaN,6.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,The 39 Steps,1935.0,1 August 1935 (USA),86.0,86.0,50000.0,51711.0,NaN,7.6,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51711.0
48,Sanders of the River,1935.0,26 June 1935 (USA),85.0,98.0,NaN,NaN,NaN,5.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Strauss' Great Waltz,1934.0,7 April 1935 (USA),80.0,81.0,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Cleap up the ordering of columns

In [120]:
main_column_names_rearranged = ['title', 'year', 'release_date', 'duration', 'runtime', 'budget', 'worldwide_gross','worldwide_gross_imdb', 'worldwide_gross_bo', 'rating', 'metacritic_score', 'rating_count', 'tv_series']
cast_column_names= films_df.columns[first_cast_column:-1]

In [122]:
films_df_reordered=films_df_reordered[[*main_column_names_rearranged, *cast_column_names] ]

In [123]:
films_df_reordered

,title,year,release_date,duration,runtime,budget,worldwide_gross,worldwide_gross_imdb,worldwide_gross_bo,rating,...,Brigitte Auber,Georgette Anys,Sara Berner,Wendell Corey,Thelma Ritter,Raymond Burr,Judith Evelyn,Ross Bagdasarian,Georgine Darcy,Ernest Thesiger
0,Kaleidoscope,1967.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Memory of the Camps,2014.0,26 July 2015 (USA),70.0,70.0,NaN,4468.0,4468.0,NaN,8.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Family Plot,1976.0,9 April 1976 (USA),120.0,120.0,4490375.0,13200000.0,NaN,13200000.0,6.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Frenzy,1972.0,21 June 1972 (USA),116.0,116.0,2000000.0,12600000.0,4121.0,12600000.0,7.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Topaz,1969.0,19 December 1969 (USA),143.0,143.0,4000000.0,6000000.0,NaN,6000000.0,6.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Always Tell Your Wife,1923.0,February 1923 (UK),20.0,20.0,NaN,NaN,NaN,NaN,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Number 13,1922.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
71,The Lodger,NaN,,NaN,NaN,NaN,,NaN,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Once You Meet a Stranger,NaN,,NaN,NaN,NaN,,NaN,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
release_date,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
test_df = pd.DataFrame(
    list([[1, 2, 3], [4, np.nan, '2 October 1955 (USA', ], [7, 8, 9], [3, np.nan, '20 September 1962 (USA' ], [5, np.nan, '20 September 1962 (USA' ]]), 
    columns=['a', 'year', 'release_date']
)

In [76]:
test_df['year'] = test_df.apply(
#     lambda row: re(r'\d{4}', row['release_date']) if np.isnan(row['year']) else row['year'],
#     axis=1)
    lambda row: float((re.search(r'\d{4}', row['release_date'])).group()) if np.isnan(row['year']) else row['year'],
    axis=1)
test_df

   a    year            release_date
0  1     2.0                       3
1  4  1955.0     2 October 1955 (USA
2  7     8.0                       9
3  3  1962.0  20 September 1962 (USA
4  5  1962.0  20 September 1962 (USA

In [69]:
row_release_date = '2 October 1955 (USA'
t = re(r'\d{4}', row_release_date).group()

TypeError: 'module' object is not callable

In [ ]:
#films_df_reordered.apply( lambda row: row['year'] = re.search(r'\d{4}',  row['release_date'] ).group() if (row['year'].isnull() , axis=1)

In [ ]:
#match = re.match(r'\d{4}',  'julu 23 2947 sdkfj')

In [72]:
release_date='julu 2329 sdkfj'
s = re.search(r'\d{4}',  release_date).group()
print(s)

2329

In [ ]:
#films_df_reordered.loc[:,'year']=films_df_reordered['year'].apply(lambda year_data : (re.search(r'\d{4}',  str(films_df_reordered['release_date'])).group()) if pd.isna(year_data) else year_data)

In [ ]:
films_df_reordered.head(50)

In [ ]:
#films_df_reordered[ pd.isna(films_df_reordered['year']) ]['year'] = re.search(r'\d{4}',  films_df_reordered['release_date']).group()

In [ ]:
films_df.columns[first_cast_column:-1]

In [ ]:
s=[3, 4, 5]
t = [1, 2, *s]
t

In [ ]:
first_column_of_cast = 13
number_of_appearances_cutoff = 3
cast_columns_mask = list( film_catalog.iloc[:,first_column_of_cast:].sum()>=number_of_appearances_cutoff )
#cast_columns_mask

In [ ]:
#film_catalog.iloc[:,first_column_of_cast:].sum()>=3

In [ ]:
keep_columns_mask = list(np.full(first_column_of_cast, True, dtype=bool))

In [ ]:
keep_columns_mask.extend( cast_columns_mask)
keep_columns_mask

In [ ]:
film_catalog_w_prevelant_actors = film_catalog.loc[:, keep_columns_mask].head(45)
film_catalog_w_prevelant_actors.shape

In [ ]:
film_catalog_w_prevelant_actors

In [ ]:
film_catalog_w_prevelant_actors.iloc[:, 13:].sum()

In [ ]:
film_catalog_w_prevelant_actors.iloc[:,13:].pipe(lambda film_catalog_w_prevelant_actors: film_catalog_w_prevelant_actors.loc[:, film_catalog_w_prevelant_actors.sum().sort_values(ascending=False).index])

In [ ]:
film_catalog_w_prevelant_actors.iloc[:,13:].pipe(lambda df: df.loc[:, df.sum().sort_values(ascending=False).index])

In [ ]:
(film_catalog.iloc[:,13:].sum().iteritems())

In [ ]:
film_catalog[film_catalog.sum()>=3]

In [ ]:
film_catalog.loc[:,film_catalog.sum()>=3]

In [ ]:
[not s>2 for s in film_catalog.iloc[:,13:].sum()].tolist()

In [ ]:
film_catalog.iloc[:,13:].drop([not s>2 for s in film_catalog.iloc[:,13:].sum()], inplace=True)

In [ ]:

film_catalog.iloc[:,13:].drop([col for col, val in film_catalog.iloc[:,13:].sum() < 3 ], axis=1, inplace=True)

In [ ]:
film_catalog.tail(35)

In [ ]:
film_catalog.dtypes

In [ ]:
sns.pairplot( film_catalog )

In [ ]:
def traverse(soup):
    found = False
    if soup.name is not None:
        dom_dictionary = {}
        dom_dictionary['name'] = soup.name
        if dom_dictionary['name'] == 'h1':
            print('\n')
            print(soup.text)
            print('\n')
            if not found:
                found_object = soup
                found = True
        dom_dictionary['children'] = [ traverse(child) for child in soup.children if child.name is not None]
        return dom_dictionary, found_object

#traverse(soup)

### Test one film at a time

In [ ]:
#%%script false
# # Test area
# film_url='https://www.imdb.com/title/tt0086153/'
film_url = 'https://www.imdb.com/title/tt0084654/'

film_response = requests.get(film_url)
if(film_response.status_code < 400):
    film_page = film_response.text
    film_soup = BeautifulSoup(film_page, "lxml")
#   if ( not is_TV_Series( film_soup) ):
    film = parse_film_data( film_soup )
    print(film)